In [58]:
%run /home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/modulos/funciones/01_funciones_insercion_laboral.ipynb
#%run /Users/danielarisaro/Documents/Fundar/indice-mercado-trabajo-ingresos/modulos/funciones/01_funciones_insercion_laboral.ipynb
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import pickle
warnings.filterwarnings('ignore')

In [59]:
# Definimos path
pathdata = '/home/daniu/Documentos/fundar/indice-mercado-trabajo-ingresos/'
pathdata = '/Users/danielarisaro/Documents/Fundar/indice-mercado-trabajo-ingresos/'
pathdata = '/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/'

In [60]:
with open(pathdata + 'modulos/diccionarios/' + 'diccionario_aglomerados.pickle', 'rb') as file:
    dict_cod_aglomerado = pickle.load(file)

with open(pathdata + 'modulos/diccionarios/' + 'diccionario_provincia.pickle', 'rb') as file:
    dict_cod_provincia = pickle.load(file)

with open(pathdata + 'modulos/diccionarios/' + 'diccionario_aglomerado_provincia.pickle', 'rb') as file:
    map_aglomerado_provincia = pickle.load(file)

In [61]:
# archivos_people_aglomerados = ['personas_T121.txt', 'personas_T221.txt', 
#                                'personas_T321.txt', 'personas_T421.txt', 
#                                'personas_T122.txt', 'personas_T222.txt', 
#                                'personas_T322.txt', 'personas_T422.txt']

# fechas_trimestrales = pd.date_range(start='2021-01-01', end='2022-12-31', freq='QS')
# lista_df_insercion = []

# for archivo in archivos_people_aglomerados:
    
#     df = pd.read_csv(pathdata + 'data_input/' + archivo, delimiter=';', low_memory=False)
    
#     df_insercion = calcular_insercion_laboral(df, dict_cod_aglomerado, tipo='Aglomerado', base='Individual', confidence_level=0.95, pool=False)
#     df_insercion['PROVINCIA'] = df_insercion.index.map(map_aglomerado_provincia)
#     df_insercion_provincias = df_insercion.groupby('PROVINCIA').mean()

#     lista_df_insercion.append(df_insercion_provincias)    

# dict_dfs_insercion_aglomerado = dict(zip(fechas_trimestrales, lista_df_insercion))

In [62]:
# archivos_people_tot_urbano = ['personas_tot_urb_3T_21.txt', 
#                                 'personas_tot_urb_3T_22.txt']

# fechas_tot_urb = pd.date_range(start='2021-07-01', end='2022-12-31', freq='AS-JUL')
# lista_df_insercion = []

# for archivo in archivos_people_tot_urbano:
    
#     df = pd.read_csv(pathdata + 'data_input/' + archivo, delimiter=';', low_memory=False)
    
#     df_insercion = calcular_insercion_laboral(df, dict_cod_provincia, tipo='Urbano', base='Individual', confidence_level=0.95, pool=False)

#     lista_df_insercion.append(df_insercion)    

# dict_dfs_insercion_urbano = dict(zip(fechas_tot_urb, lista_df_insercion))

In [63]:
df_people_pool = pd.read_csv(pathdata + 'data_output/Base_pool_individuos_solo_con_replicas_actuales.csv', low_memory=False, index_col=0)
df_insercion_pool = calcular_insercion_laboral(df_people_pool, dict_cod_provincia, tipo='Urbano', base='Individual', confidence_level=0.95, pool=True)

In [64]:
ratio_actividad, empleo_asalariado_con_descuento, horas_remuneradas_media, ingreso_salarial_media = \
    indicadores_insercion_laboral(df_people_pool, dict_cod_provincia, tipo='Urbano', base='Individual', confidence_level=0.95, pool=True)

In [65]:
ingreso_salarial_media

,Varon,Mujer,N_v,N_m,Ingreso laboral promedio,LI,LS,ME,ER
PROVINCIA,,,,,,,,,
CABA,127512.345164,105300.881409,480,460,82.580931,NaT,NaT,NaT,NaT
Buenos Aires,88925.921287,64055.218807,2733,2316,72.032112,NaT,NaT,NaT,NaT
Catamarca,59556.968591,49451.962554,955,756,83.033042,NaT,NaT,NaT,NaT
Córdoba,82860.001885,57436.222409,1831,1405,69.317187,NaT,NaT,NaT,NaT
Corrientes,59040.742418,49973.701849,917,632,84.642740,NaT,NaT,NaT,NaT
Chaco,53239.276323,46557.379579,802,581,87.449310,NaT,NaT,NaT,NaT
Chubut,125885.705270,83650.261880,1115,921,66.449373,NaT,NaT,NaT,NaT
Entre Ríos,81897.489753,53906.337305,1119,875,65.821721,NaT,NaT,NaT,NaT
Formosa,58745.046069,51383.565825,777,426,87.468764,NaT,NaT,NaT,NaT
Jujuy,55560.740014,41223.201857,1429,1210,74.194839,NaT,NaT,NaT,NaT
La Pampa,99042.963773,70361.539559,451,407,71.041432,NaT,NaT,NaT,NaT
La Rioja,54285.724568,47881.649494,1055,848,88.203022,NaT,NaT,NaT,NaT
Mendoza,70465.889281,49926.290485,1113,876,70.851714,NaT,NaT,NaT,NaT
Misiones,66945.311775,50546.589290,770,583,75.504300,NaT,NaT,NaT,NaT
Neuquén,111503.656944,82704.134672,647,559,74.171679,NaT,NaT,NaT,NaT
Río Negro,94863.317664,80623.386902,1006,793,84.989002,NaT,NaT,NaT,NaT
Salta,64859.892236,47340.965499,1505,1263,72.989584,NaT,NaT,NaT,NaT
San Juan,73490.228353,57314.127586,1273,817,77.988773,NaT,NaT,NaT,NaT
San Luis,74714.311301,59888.553881,971,717,80.156737,NaT,NaT,NaT,NaT
Santa Cruz,123740.613311,86328.189940,498,444,69.765445,NaT,NaT,NaT,NaT
Santa Fe,89866.095995,65623.916323,1329,1122,73.024109,NaT,NaT,NaT,NaT
Santiago del Estero,53131.037334,43277.001325,1158,809,81.453334,NaT,NaT,NaT,NaT
Tucumán,60775.692343,45367.587602,1320,976,74.647587,NaT,NaT,NaT,NaT
TdF,135489.745565,121448.033870,388,276,89.636329,NaT,NaT,NaT,NaT

In [66]:
with open(pathdata + 'data_output/' + 'diccionario_insercion_laboral_aglomerados.pickle', 'wb') as file:
    pickle.dump(dict_dfs_insercion_aglomerado, file)

with open(pathdata + 'data_output/' + 'diccionario_insercion_laboral_urbano.pickle', 'wb') as file:
    pickle.dump(dict_dfs_insercion_urbano, file)

df_insercion_pool.to_pickle(pathdata + 'data_output/df_insercion_laboral_pool.pickle')