In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.patches import Rectangle
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Read data
pathdata = '/home/daniu/Documentos/fundar/indice-mercado-trabajo-ingresos/'
pathdata = '/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/'
pathdata = '/Users/danielarisaro/Documents/fundar/indice-mercado-trabajo-ingresos/'

df_people_2021 = pd.read_csv(pathdata + 'data_input/personas_tot_urb_3T_21.txt', delimiter=';', low_memory=False)
df_people_2022 = pd.read_csv(pathdata + 'data_input/personas_tot_urb_3T_22.txt', delimiter=';', low_memory=False)

df_houses_2021 = pd.read_csv(pathdata + 'data_input/hogar_tot_urb_3T_2021.txt', delimiter=';', low_memory=False)
df_houses_2022 = pd.read_csv(pathdata + 'data_input/hogar_tot_urb_3T_2022.txt', delimiter=';', low_memory=False)

In [4]:
def row_counts(df_year1, df_year2, year1, year2):
    count_year1 = len(df_year1)
    count_year2 = len(df_year2)
    merged_df = pd.merge(df_year1, df_year2, on=['CODUSU', 'COMPONENTE'], how='inner')
    count_both_years = len(merged_df)

    # Calculate total population
    pob_year1 = df_year1['PONDERA'].sum()
    pob_year2 = df_year2['PONDERA'].sum()

    # Calculate number of surveys performed
    encuesta_realizada_year1 = df_year1[df_year1['H15'] != 2]['H15'].count()
    pob_encuesta_realizada_year1 = df_year1[df_year1['H15'] != 2]['PONDERA'].sum()
    encuesta_realizada_year2 = df_year2[df_year2['H15'] != 2]['H15'].count()
    pob_encuesta_realizada_year2 = df_year2[df_year2['H15'] != 2]['PONDERA'].sum()

    # Calculate number of imputed surveys
    encuesta_imputada_year1 = df_year1[df_year1['IMPUTA'] == 2]['IMPUTA'].count()
    pob_encuesta_imputada_year1 = df_year1[df_year1['IMPUTA'] == 2]['PONDERA'].sum()
    encuesta_imputada_year2 = df_year2[df_year2['IMPUTA'] == 2]['IMPUTA'].count()
    pob_encuesta_imputada_year2 = df_year2[df_year2['IMPUTA'] == 2]['PONDERA'].sum()

    # Create the table as a pandas dataframe
    data = {
        'Anio': [year1, year2],
        'Cantidad de observaciones': [count_year1, count_year2],
        'Observaciones en ambos anios': [count_both_years, count_both_years],
        'Poblacion total': [pob_year1, pob_year2],
        'Encuestas realizadas en el anio': [encuesta_realizada_year1, encuesta_realizada_year2],
        'Poblacion de encuestas realizadas en el anio': [pob_encuesta_realizada_year1, pob_encuesta_realizada_year2],
        'Encuestas imputadas en el anio': [encuesta_imputada_year1, encuesta_imputada_year2],
        'Poblacion de encuestas imputadas en el anio': [pob_encuesta_imputada_year1, pob_encuesta_imputada_year2]
    }
    table = pd.DataFrame(data)
    table.set_index('Anio', inplace=True)

    return table

In [5]:
result_table = row_counts(df_people_2021, df_people_2022, 2021, 2022)
result_table

,Cantidad de observaciones,Observaciones en ambos anios,Poblacion total,Encuestas realizadas en el anio,Poblacion de encuestas realizadas en el anio,Encuestas imputadas en el anio,Poblacion de encuestas imputadas en el anio
Anio,,,,,,,
2021,78217,30417,41693498,78118,41511018,0,0
2022,77642,30417,42268056,77523,42191941,0,0