In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib.patches import Rectangle
import warnings
warnings.filterwarnings('ignore')

In [6]:
import matplotlib.font_manager as font_manager
import matplotlib as mpl
from matplotlib import rcParams

# Definimos path
path = '/Users/danielarisaro/Documents/Fundar/graficos-indice-desigualdad-genero/'
path = '/home/daniufundar/Documents/Fundar/graficos-indice-desigualdad-genero/'

# Definimos fuente para los graficos
font_dir = [path + 'basemaps/Archivo/']
for font in font_manager.findSystemFonts(font_dir):
    font_manager.fontManager.addfont(font)

rcParams['font.family'] = 'Archivo'

# Definimos colores fundar
fundar_colores_primarios = ['#7BB5C4', '#9FC1AD', '#D3D3E0',  '#8d9bff', '#FF9750', '#FFD900',]
fundar_colores_secundarios = ['#B5E0EA', '#B3B3B3', '#848279', '#AFA36E', '#5D896F', '#9C9CBC', '#E27124']
fundar_white = '#F5F5F5'
fundar_black = '#151515'

In [7]:
pathdata = '/home/daniu/Documentos/fundar/indice-mercado-trabajo-ingresos/'
pathdata = '/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/'
pathdata = '/Users/danielarisaro/Documents/fundar/indice-mercado-trabajo-ingresos/'

# df_people_2016 = pd.read_csv(pathdata + 'data_input/personas_tot_urb_3T_16.txt', delimiter=';', low_memory=False)
# df_people_2017 = pd.read_csv(pathdata + 'data_input/personas_tot_urb_3T_17.txt', delimiter=';', low_memory=False)
# df_people_2018 = pd.read_csv(pathdata + 'data_input/personas_tot_urb_3T_18.txt', delimiter=';', low_memory=False)
# df_people_2019 = pd.read_csv(pathdata + 'data_input/personas_tot_urb_3T_19.txt', delimiter=';', low_memory=False)
# df_people_2020 = pd.read_csv(pathdata + 'data_input/personas_tot_urb_3T_20.txt', delimiter=';', low_memory=False)
df_people_2021 = pd.read_csv(pathdata + 'data_input/personas_tot_urb_3T_21.txt', delimiter=';', low_memory=False)
df_people_2022 = pd.read_csv(pathdata + 'data_input/personas_tot_urb_3T_22.txt', delimiter=';', low_memory=False)

df_houses_2021 = pd.read_csv(pathdata + 'data_input/hogar_tot_urb_3T_2021.txt', delimiter=';', low_memory=False)
df_houses_2022 = pd.read_csv(pathdata + 'data_input/hogar_tot_urb_3T_2022.txt', delimiter=';', low_memory=False)

In [49]:
df_CBT = pd.read_csv(pathdata + 'data_output/Canasta_Basica_Total_Regiones_2016-2022-promedios-moviles.csv', delimiter=',', header=0, index_col=[0])

In [8]:
df_temp = df_houses_2021.loc[(df_houses_2021['IX_TOT']>1) & (df_houses_2021['REALIZADA']==1) & (~df_houses_2021['NRO_HOGAR'].isin([51, 71]))]
df_temp = df_temp[['CODUSU', 'ITF', 'PONDIH', 'PONDERA', 'NRO_HOGAR']]

In [10]:
merged_df_2021 = df_people_2021[['CODUSU', 'NRO_HOGAR']].merge(df_houses_2021[['CODUSU', 'NRO_HOGAR']], on=['CODUSU', 'NRO_HOGAR'], how='outer', indicator=True)

duplicated_rows = merged_df_2021['_merge'].value_counts()['both']

rows_people = len(df_people_2021)
print(duplicated_rows, rows_people)                 # si la cantidad es la misma, entonces todos los hogares fueron relevados en la base individual tambien.

In [17]:
hogares_unicos = merged_df_2021[['CODUSU', 'NRO_HOGAR']].value_counts()
count_houses = len(hogares_unicos)
count_viviendas = len(df_temp['CODUSU'].value_counts())

print(count_houses, count_viviendas)                             # cantidad de HOGARES y de VIVIENDAS
                                                                # HOGARES >= VIVIENDAS

25973 20561

In [ ]:
df_adultos_equiv = pd.read_csv(pathdata + 'data_input/canastas_basicas/adultos_equivalente.csv')

In [111]:
#cod_provincia
dict_cod_provincia = {2: "Ciudad Autónoma de Buenos Aires",
 6: "Buenos Aires",
 10: "Catamarca",
 14: "Córdoba",
 18: "Corrientes",
 22: "Chaco",
 26: "Chubut",
 30: "Entre Ríos",
 34: "Formosa",
 38: "Jujuy",
 42: "La Pampa",
 46: "La Rioja",
 50: "Mendoza",
 54: "Misiones",
 58: "Neuquén",
 62: "Río Negro",
 66: "Salta",
 70: "San Juan",
 74: "San Luis",
 78: "Santa Cruz",
 82: "Santa Fe",
 86: "Santiago del Estero",
 90: "Tucumán",
 94: "Tierra del Fuego, Antártida e Islas del Atlántico Sur"}

In [99]:
# Agrego regiones
prov_regiones = pd.DataFrame([
['Ciudad Autónoma de Buenos Aires','CABA', 'Pampeana'],
['Buenos Aires','BA', 'Pampeana'],
['Neuquén', 'NQN', 'Patagonia'],
['Córdoba', 'CBA','Pampeana'],
['San Luis', 'SL', 'Cuyo'],
['Santa Fe', 'SF','Pampeana'],
['Misiones', 'MIS', 'Noreste'],
['La Rioja', 'LR', 'Noroeste'],
['Mendoza', 'MZA', 'Cuyo'],
['Tucumán', 'TUC', 'Noroeste'],
['Tierra del Fuego, Antártida e Islas del Atlántico Sur', 'TDF', 'Patagonia'],
['Entre Ríos', 'ER','Pampeana'],
['La Pampa', 'LP','Pampeana'],
['Chaco', 'CHA', 'Noreste'],
['Río Negro', 'RN', 'Patagonia'],
['San Juan', 'SJ', 'Cuyo'],
['Corrientes', 'COR', 'Noreste'],
['Santiago del Estero', 'SE','Noroeste'],
['Catamarca', 'CAT', 'Noroeste'],
['Salta', 'SAL', 'Noroeste'],
['Formosa', 'FOR', 'Noreste'],
['Chubut', 'CHU', 'Patagonia'],
['Santa Cruz', 'SC', 'Patagonia'],
['Jujuy', 'JU', 'Noroeste']], columns=['Provincia', 'Etiqueta', 'Region'])
prov_regiones = prov_regiones.set_index('Provincia')

In [100]:
# Define a function to capitalize the first letter of a string
def capitalize_first_letter(s):
    return s.capitalize()

# Rename the columns in df_CBT using the capitalize_first_letter function
df_CBT = df_CBT.rename(columns=capitalize_first_letter)

In [101]:
# Group by 'CODUSU' and 'NRO_HOGAR' and aggregate the required information
grouped_df = df_people_2021.groupby(['CODUSU', 'NRO_HOGAR']).agg({
    'CH03': list,
    'COMPONENTE': list,
    'CH04': list,
    'CH06': list
})

print(len(grouped_df))
# Filter out groups with value 2 in COMPONENTE
grouped_df = grouped_df[grouped_df['COMPONENTE'].apply(lambda x: 2 not in x)]
print(len(grouped_df))

# Filter out groups without people under age
grouped_df = grouped_df[grouped_df['CH06'].apply(lambda x: any(age < 25 for age in x))]
print(len(grouped_df))

# Determine the gender of the person in charge
grouped_df['GENDER_OF_PERSON_IN_CHARGE'] = grouped_df.apply(lambda row: 'MALE' if 1 in row['CH03'] and row['CH04'][row['CH03'].index(1)] == 1 else 'FEMALE', axis=1)

# Determine the age of the person in charge
grouped_df['PERSON_IN_CHARGE_AGE'] = grouped_df.apply(lambda row: row['CH06'][row['CH03'].index(1)] if 1 in row['CH03'] else None, axis=1)


grouped_df = grouped_df.reset_index()

# Add a new column 'EQUIVALENT_ADULTS' to the grouped_df DataFrame
grouped_df['EQUIVALENT_ADULTS'] = 0

# Iterate over each row in the grouped_df DataFrame
for index, row in grouped_df.iterrows():
    total_equivalent_adults = 0
    
    # Iterate over each person in the household
    for age, gender in zip(row['CH06'], row['CH04']):
        # Find the corresponding row in df_adults_equiv based on age and gender
        equiv_adults_row = df_adultos_equiv[
            (df_adultos_equiv['Edad inferior'] <= age) &
            (df_adultos_equiv['Edad superior'] > age)
        ]
        
        # Check if the row exists and retrieve the equivalent adults value based on gender
        if not equiv_adults_row.empty:
            equiv_adults = equiv_adults_row.iloc[0]['Mujer'] if gender == 2 else equiv_adults_row.iloc[0]['Varon']
            total_equivalent_adults += equiv_adults
    
    # Assign the total equivalent adults to the 'EQUIVALENT_ADULTS' column
    grouped_df.at[index, 'EQUIVALENT_ADULTS'] = total_equivalent_adults


# Merge the df_houses_2021 DataFrame with the grouped_df DataFrame
custom_merged_df = grouped_df.merge(df_houses_2021, on=['CODUSU', 'NRO_HOGAR'], how='left')

# Add the 'ITF' column from df_houses_2021 to the grouped_df DataFrame
grouped_df['INCOME'] = custom_merged_df['ITF']
grouped_df['INCOME_PONDERATOR'] = custom_merged_df['PONDIH']
grouped_df['PROVINCIA'] = custom_merged_df['PROVINCIA']

25973
5495
446

In [108]:
# Reshape the df_CBT DataFrame using melt to unpivot the region columns
melted_df_CBT = df_CBT.melt(id_vars='Trimestre', var_name='Region', value_name='CBT')

# Filter the rows based on the 'Trimestre' column
filtered_melted_df_CBT = melted_df_CBT[melted_df_CBT['Trimestre'] == '4T2021']

# Convert province codes in grouped_df using the dict_cod_provincia dictionary
grouped_df['Provincia'] = grouped_df['PROVINCIA'].map(dict_cod_provincia)

map_provincia_region = prov_regiones['Region'].to_dict()

grouped_df['Region'] = grouped_df['Provincia'].map(map_provincia_region)
map_region_CBT = filtered_melted_df_CBT.set_index('Region')['CBT'].to_dict()

grouped_df['CBT'] = grouped_df['Region'].map(map_region_CBT)

# Calculate the threshold by multiplying CBT by equivalent adults
grouped_df['THRESHOLD'] = grouped_df['CBT'] * grouped_df['EQUIVALENT_ADULTS']

# Count the number of houses where income is greater than the threshold
house_counts = grouped_df[grouped_df['INCOME'] > grouped_df['THRESHOLD']].groupby(['Provincia', 'GENDER_OF_PERSON_IN_CHARGE'])['INCOME_PONDERATOR'].sum().reset_index(name='House_Counts')

In [109]:
# Calculate the counts of females and males per province
gender_counts = grouped_df.groupby(['Provincia', 'GENDER_OF_PERSON_IN_CHARGE'])['INCOME_PONDERATOR'].sum().unstack()

# Calculate the ratios of females to males per province
gender_ratios = gender_counts['FEMALE'] / gender_counts['MALE']

# Display the resulting ratios
print(gender_ratios)

Provincia
Buenos Aires                       4.361431
Catamarca                          1.534853
Chaco                              0.807197
Chubut                             1.419111
Ciudad Autónoma de Buenos Aires    0.358286
Corrientes                         0.839553
Córdoba                            1.080377
Entre Ríos                         1.218383
Formosa                            5.885753
Jujuy                              1.135764
La Pampa                           2.965354
La Rioja                           0.766400
Mendoza                            0.471136
Misiones                           0.885739
Neuquén                            1.275716
Río Negro                          0.580162
Salta                              1.599761
San Juan                           3.526738
San Luis                           1.529126
Santa Cruz                         0.250205
Santa Fe                           2.082415
Santiago del Estero                1.472222
Tierra del Fuego                   0.852837
Tucumán                            0.789568
dtype: float64

In [13]:
merged_df = pd.merge(df_people_2021[['CODUSU', 'COMPONENTE']], df_people_2022[['CODUSU', 'COMPONENTE']], on=['CODUSU', 'COMPONENTE'], how='outer', indicator=True)

# Count the number of duplicate rows
duplicated_rows = merged_df['_merge'].value_counts()['both']
print(f"Number of duplicate rows: {duplicated_rows}")

# Display the left-only rows (2021)
left_only_rows = merged_df['_merge'].value_counts()['left_only']
print(f"Left-only rows: {left_only_rows}")

# Display the right-only rows (2022)
right_only_rows = merged_df['_merge'].value_counts()['right_only']
print(f"Right-only rows: {right_only_rows}")

# Select the right-only and right observation from both rows in merged_df
right_only_rows = merged_df[merged_df['_merge'] == 'right_only']
left_only_rows = merged_df[merged_df['_merge'] == 'left_only']
both_rows = merged_df[merged_df['_merge'] == 'both']
right_both_rows = pd.concat([both_rows, right_only_rows])

# Option 1: Merge two dataframes with "copies"
df_people_2021['rel_PONDERA'] = df_people_2021['PONDERA']/df_people_2021['PONDERA'].sum()
df_people_2022['rel_PONDERA'] = df_people_2022['PONDERA']/df_people_2022['PONDERA'].sum()

df_merged_with_copies = pd.concat([df_people_2021, df_people_2022])

# Option 2: Merge two dataframes erasing the first copy (keeping right only and right both observations)
df_people_2021_no_dupl = pd.merge(left_only_rows, df_people_2021, on=["CODUSU", "COMPONENTE"], how='inner')
df_people_2022_no_dupl = pd.merge(right_both_rows, df_people_2022, on=["CODUSU", "COMPONENTE"], how='inner')

df_merged_without_copies = pd.concat([df_people_2021_no_dupl, df_people_2022_no_dupl])


# Length of resulting dataframes
n_with_copies = len(df_merged_with_copies)
n_without_copies = len(df_merged_without_copies)
print(f"La longitud de los dataframes con y sin replicas son {n_with_copies, n_without_copies}")

Number of duplicate rows: 30417
Left-only rows: 48100
Right-only rows: 47523
La longitud de los dataframes con y sin replicas son (155859, 127958)

In [15]:
## Defino funciones dimension mercado de trabajo e ingresos

# Componente: Inserción laboral

# T1. 
# Variable: Actividad productiva
# Indicador: Ratio M/V en tasa de empleo

def ratio_tasa_empleo(df, tipo='Aglomerado', base='Individual'):

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios en tasa de empleo M/V desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """

    # Check if the necessary columns exist in the input DataFrame
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA']):
        raise ValueError("El DataFrame de entrada debe tener las siguientes columnas: 'CH04', 'CH06', 'ESTADO', 'PONDERA'")
        
    # Check if the input value of "tipo" is valid
    if tipo not in ['Aglomerado', 'Urbano']:
        return None, 'Error: tipo debe ser "Aglomerado" o "Urbano"'
    if base not in ['Individual', 'Hogar']:
        return None, 'Error: base debe ser "Individual" o "Hogar"'
    if not isinstance(df, pd.DataFrame):
        return None, 'Error: df debe ser un DataFrame de pandas'

    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')
    numerador = df_temp[df_temp['ESTADO']==1].groupby(['CH04', var])['PONDERA'].sum()       # agrupo por genero y provincia y sumo
    
    size = df_temp[df_temp['ESTADO']==1].groupby(['CH04', var]).size().to_frame().unstack(level=0)
    size.columns = size.columns.get_level_values(1)

    denominador = df_temp.groupby(['CH04', var])['PONDERA'].sum()
    df_tasa = numerador.div(denominador, fill_value=np.nan)
    df_tasa = df_tasa.to_frame().unstack(level=0)
    
    ratio = (df_tasa['PONDERA'][2]/df_tasa['PONDERA'][1] * 100).to_frame()
    ratio.rename(columns={0: 'Actividad productiva'}, inplace=True)
    
    ratio = ratio.join(size)
    ratio.rename(columns={1: 'N_v', 2: 'N_m'}, inplace=True)

    # Calculate error

    error = pd.DataFrame(index=ratio.index)

    return ratio, error


# T2. 
# Variable: Búsqueda de trabajo
# Indicador: Ratio M/V en tasa de desempleo

def ratio_tasa_desempleo(df, tipo='Aglomerado', base='Individual'):

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios en tasa de desempleo M/V desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """
    # Check if the necessary columns exist in the input DataFrame
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA']):
        raise ValueError("The input DataFrame must have the following columns: 'CH04', 'CH06', 'ESTADO', 'PONDERA'")
        
    # Check if the input value of "tipo" is valid
    if tipo not in ['Aglomerado', 'Urbano']:
        return None, 'Error: tipo debe ser "Aglomerado" o "Urbano"'
    if base not in ['Individual', 'Hogar']:
        return None, 'Error: base debe ser "Individual" o "Hogar"'
    if not isinstance(df, pd.DataFrame):
        return None, 'Error: df debe ser un DataFrame de pandas'

    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')                                           
    numerador = df_temp[df_temp['ESTADO']==2].groupby(['CH04', var])['PONDERA'].sum()               # agrupo por genero y provincia y sumo
    
    size = df_temp[df_temp['ESTADO']==2].groupby(['CH04', var]).size().to_frame().unstack(level=0)
    size.columns = size.columns.get_level_values(1)

    df_estado = df_temp[(df_temp['ESTADO'] == 1) | (df_temp['ESTADO'] == 2)]                        # selecciona las filas donde la columna ESTADO tenga un valor igual a 1 o 2 (personas activas)
    denominador = df_estado.groupby(['CH04', var])['PONDERA'].sum()                                 # agrupo por genero y provincia y sumo
    df_tasa = (numerador / denominador).to_frame().unstack(level=0)                                 # calculo tasa

    ratio = (df_tasa['PONDERA'][1]/df_tasa['PONDERA'][2] * 100).to_frame()                          # el ratio es V/M para que quede elevado a la menos 1
    ratio.rename(columns={0: 'Búsqueda de trabajo'}, inplace=True)
    
    ratio = ratio.join(size)
    ratio.rename(columns={1: 'N_v', 2: 'N_m'}, inplace=True)

    error = 'a definir'

    return ratio, error

# T3.
# Variable: Acceso a derechos laborales
# Indicador: Ratio M/V en tasa de empleo asalariado con descuento jubilatorio

def ratio_tasa_registro(df, tipo='Aglomerado', base='Individual'):

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios en tasa de informalidad M/V desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """

    # Check if the necessary columns exist in the input DataFrame
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA', 'CAT_OCUP', 'PP07H']):
        raise ValueError("The input DataFrame must have the following columns: 'CH04', 'CH06', 'ESTADO', 'PONDERA', 'CAT_OCUP', 'PP07H'")
        
    # Check if the input value of "tipo" is valid
    if tipo not in ['Aglomerado', 'Urbano']:
        return None, 'Error: tipo debe ser "Aglomerado" o "Urbano"'
    if base not in ['Individual', 'Hogar']:
        return None, 'Error: base debe ser "Individual" o "Hogar"'
    if not isinstance(df, pd.DataFrame):
        return None, 'Error: df debe ser un DataFrame de pandas'

    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')
    df_estado = df_temp[(df_temp['ESTADO']==1) & (df_temp['CAT_OCUP']==3)]                      # Población ocupada asalariada
    numerador = df_estado[df_estado['PP07H']==1].groupby(['CH04', var])['PONDERA'].sum()        # Población ocupada asalariada con descuento jubilatorio
    
    size = df_estado[df_estado['PP07H']==1].groupby(['CH04', var]).size().to_frame().unstack(level=0)
    size.columns = size.columns.get_level_values(1)

    denominador = df_estado.groupby(['CH04', var])['PONDERA'].sum()
    df_tasa = (numerador / denominador).to_frame().unstack(level=0)                             # calculo tasa

    ratio = (df_tasa['PONDERA'][2]/df_tasa['PONDERA'][1] * 100).to_frame()                      # Calculo ratio
    ratio.rename(columns={0: 'Acceso a derechos laborales'}, inplace=True)

    ratio = ratio.join(size)
    ratio.rename(columns={1: 'N_v', 2: 'N_m'}, inplace=True)

    error = pd.DataFrame(index=ratio.index)
    error = 'a definir'
    
    # for i in ratio.index:
    #     if denominador[i] == 0:
    #         error[i] = 'Warning: El denominador es cero, no se puede calcular el ratio'
    #     else:
    #         error[i] = np.sqrt((ratio[i]*(1-ratio[i])/denominador[i]))

    return ratio, error

# T4. 
# Variable: Participación en el trabajo remunerado
# Indicador: Ratio M/V en Horas semanales promedio destinadas al trabajo remunerado

def ratio_tasa_horas_remuneradas(df, tipo='Aglomerado', base='Individual'):

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios en tasa de horas remuneradas M/V desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """

    # Check if the necessary columns exist in the input DataFrame       
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA', 'CAT_OCUP', 'PP07H']):
        raise ValueError("The input DataFrame must have the following columns: 'CH04', 'CH06', 'ESTADO', 'PONDERA', 'CAT_OCUP', 'PP07H'")
        
    # Check if the input value of "tipo" is valid
    if tipo not in ['Aglomerado', 'Urbano']:
        return None, 'Error: tipo debe ser "Aglomerado" o "Urbano"'
    if base not in ['Individual', 'Hogar']:
        return None, 'Error: base debe ser "Individual" o "Hogar"'
    if not isinstance(df, pd.DataFrame):
        return None, 'Error: df debe ser un DataFrame de pandas'

    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')
    df_temp['PP3E_TOT'] = pd.to_numeric(df_temp['PP3E_TOT'], errors='coerce') # coerce invalid parsing to NaN

    df_estado = df_temp[(df_temp['ESTADO']==1) & (df_temp['PP3E_TOT']>0) & (df_temp['PP3E_TOT']!=999)]  
    df_tasa = df_estado.groupby(['CH04', var])['PONDERA'].mean().to_frame().unstack(level=0)
    
    ratio = (df_tasa['PONDERA'][2]/df_tasa['PONDERA'][1] * 100).to_frame()
    ratio.rename(columns={0: 'Participación en el trabajo remunerado'}, inplace=True)
    
    error = 'a definir'

    return ratio, error


# T5. 
# Variable: Horas trabajadas en el hogar
# Indicador: Ratio M/V en Horas semanales promedio destinadas al TNR en el hogar

        # en funcion de la enut


# Componente: Autonomía económica

# T6. 
# Variable: Dependencia económica 
# Indicador: Ratio M/V en Población inactiva y que no estudia sin ingresos propios

def ratio_tasa_poblacion_dependiente(df, tipo='Aglomerado', base='Individual'):

    # En este caso dividir el indicador segun algun percentil de ingresos. Por ejemplo de 90 a 60. Ver literatura al respecto 

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios en tasa M/V de población inactiva que no estudia y no tiene ingresos propios, desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """

    # Check if the necessary columns exist in the input DataFrame
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA', 'P47T', 'CH10', 'PONDII']):
        raise ValueError("The input DataFrame must have the following columns: 'CH04', 'CH06', 'ESTADO', 'PONDERA', 'P47T', 'CH10', 'PONDII'")
        
    # Check if the input value of "tipo" is valid
    if tipo not in ['Aglomerado', 'Urbano']:
        return None, 'Error: tipo debe ser "Aglomerado" o "Urbano"'
    if base not in ['Individual', 'Hogar']:
        return None, 'Error: base debe ser "Individual" o "Hogar"'
    if not isinstance(df, pd.DataFrame):
        return None, 'Error: df debe ser un DataFrame de pandas'
    
    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')

    numerador = df_temp[(df_temp['ESTADO']==3) & (df_temp['P47T']==0) & (df_temp['CAT_INAC']!=3)].groupby(['CH04', var])['PONDII'].sum()
    
    size = df_temp[(df_temp['ESTADO']==3) & (df_temp['P47T']==0) & (df_temp['CAT_INAC']!=3)].groupby(['CH04', var]).size().to_frame().unstack(level=0)
    size.columns = size.columns.get_level_values(1)
    
    denominador = df_temp.groupby(['CH04', var])['PONDERA'].sum()
    df_tasa = (numerador / denominador).to_frame().unstack(level=0)                         # calculo tasa

    ratio = (df_tasa[0][2]/df_tasa[0][1] * 100).to_frame()
    ratio.rename(columns={0: 'Dependencia económica'}, inplace=True)

    ratio = ratio.join(size)
    ratio.rename(columns={1: 'N_v', 2: 'N_m'}, inplace=True)

    error = pd.DataFrame(index=ratio.index)
    error = 'a definir'


    return ratio, error

# T7.                                   # TODO: ajustar con IPC
# Variable: Ingreso salarial
# Indicador: Ratio M/V en Ingreso salarial promedio mensual

def ratio_ingreso_laboral_mensual(df, tipo='Aglomerado', base='Individual'):

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios del ingreso individual mensual laboral de M/V, desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """

    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')
    df_estado = df_temp[(df_temp['ESTADO'] == 1) & (~df_temp['CAT_OCUP'].isin([1, 4, 9]))]

    df_ingreso = df_estado[(df_estado['P21']>0) & (df_estado['P21']!=-9)].sum()
    df_tasa = df_ingreso.groupby(['CH04', var])['PONDIIO'].median().to_frame().unstack(level=0)  
    
    ratio = (df_tasa['PONDIIO'][2]/df_tasa['PONDIIO'][1] * 100).to_frame()
    ratio.rename(columns={0: 'Ingreso laboral'}, inplace=True)
    
    ratio = ratio.join(size)
    ratio.rename(columns={1: 'N_v', 2: 'N_m'}, inplace=True)

    error = 'a definir'

    return ratio, error


# T8.                               # TODO: ver definicion monoparentalidad
# Variable: Pobreza
# Indicador: Ratio M/V en Población con ingreso total individual inferior a LP

def ratio_pobreza(df, CBT, tipo='Aglomerado', base='Individual'):

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios del ingreso individual mensual laboral de M/V, desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """


    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')
    df_estado = df_temp[(df_temp['ESTADO'] == 1) & (~df_temp['CAT_OCUP'].isin([1, 4, 9]))]

    numerador = df_estado[(df_estado['P21']>0) & (df_estado['P21']!=-9)].sum()
    denominador = 'TBD'
    df_tasa = df_estado.groupby(['CH04', var])['PONDIIO'].mean().to_frame().unstack(level=0)  
    
    ratio = (df_tasa['PONDIIO'][2]/df_tasa['PONDIIO'][1] * 100).to_frame()
    ratio.rename(columns={0: 'Ingreso laboral'}, inplace=True)
    
    error = 'a definir'

    return ratio, error



def df_merge_ratios(ratio_empleo, ratio_desempleo, ratio_informalidad, ratio_horas_remuneradas, 
                ratio_poblacion_dependiente, ratio_ingreso_laboral, ratio_pobreza, diccionario):

    df_ratio = pd.concat([ratio_empleo, ratio_desempleo, ratio_informalidad, ratio_horas_remuneradas, 
                    ratio_poblacion_dependiente, ratio_ingreso_laboral, ratio_pobreza], axis=1)
                    
    df_ratio['Nombre'] = df_ratio.index.map(diccionario)

    df_ratio = df_ratio.set_index('Nombre')
    
    return df_ratio

In [16]:
ratio_empleo, error_empleo = ratio_tasa_empleo(df_people_2021, tipo='Urbano', base='Individual')
ratio_desempleo, error_desempleo = ratio_tasa_desempleo(df_people_2021, tipo='Urbano', base='Individual')
ratio_informalidad, error_informalidad = ratio_tasa_registro(df_people_2021, tipo='Urbano', base='Individual')
ratio_horas_remuneradas, error_horas_remuneradas = ratio_tasa_horas_remuneradas(df_people_2021, tipo='Urbano', base='Individual')
ratio_poblacion_dependiente, error_poblacion_dependiente = ratio_tasa_poblacion_dependiente(df_people_2021, tipo='Urbano', base='Individual')
ratio_ingreso_laboral, error_ingreso_laboral = ratio_tasa_empleo(df_people_2021, tipo='Urbano', base='Individual')
ratio_pobreza, error_pobreza = ratio_tasa_empleo(df_people_2021, tipo='Urbano', base='Individual')

df_ratio_2021 = df_merge_ratios(ratio_empleo, ratio_desempleo, ratio_informalidad, ratio_horas_remuneradas, 
                ratio_poblacion_dependiente, ratio_ingreso_laboral, ratio_pobreza, dict_cod_provincia)

In [17]:
df_ratio_2021

,Actividad productiva,N_v,N_m,Búsqueda de trabajo,N_v,N_m,Acceso a derechos laborales,N_v,N_m,Participación en el trabajo remunerado,Dependencia económica,N_v,N_m,Actividad productiva,N_v,N_m,Actividad productiva,N_v,N_m
Nombre,,,,,,,,,,,,,,,,,,,
Ciudad de Buenos Aires,92.127449,282,267,143.408430,23,19,94.378673,158,162,104.615024,159.391859,15,28,92.127449,282,267,92.127449,282,267
Buenos Aires,71.676538,2122,1709,76.737452,157,171,92.330813,1069,882,92.303697,372.011704,126,429,71.676538,2122,1709,71.676538,2122,1709
Catamarca,74.809933,666,504,62.304473,33,32,104.334782,324,262,103.003372,178.102083,66,110,74.809933,666,504,74.809933,666,504
Córdoba,68.596462,1194,950,53.736201,111,131,90.888590,486,378,89.369581,385.303643,46,174,68.596462,1194,950,68.596462,1194,950
Corrientes,71.753725,572,420,190.514579,26,13,97.700547,201,157,104.433645,160.778827,58,110,71.753725,572,420,71.753725,572,420
Chaco,64.369014,481,365,103.363918,36,31,124.160572,156,155,89.218701,219.355868,52,124,64.369014,481,365,64.369014,481,365
Chubut,73.368752,758,618,131.096370,55,37,91.600942,444,361,88.424742,512.356275,38,180,73.368752,758,618,73.368752,758,618
Entre Ríos,71.786217,913,672,57.776366,60,60,92.638600,396,315,92.835137,418.150114,58,187,71.786217,913,672,71.786217,913,672
Formosa,51.901224,486,264,220.595458,42,12,108.371130,180,116,100.375501,178.176566,86,182,51.901224,486,264,51.901224,486,264
Jujuy,72.475467,822,675,54.492848,31,42,103.952343,325,271,90.903647,266.263856,49,156,72.475467,822,675,72.475467,822,675
La Pampa,70.403648,275,211,74.095478,31,21,99.968149,123,108,97.167225,579.034279,14,52,70.403648,275,211,70.403648,275,211
La Rioja,68.751182,720,537,83.744412,27,20,104.741783,357,316,94.792196,606.037829,21,114,68.751182,720,537,68.751182,720,537
Mendoza,69.566176,789,593,60.741316,50,69,94.437693,323,257,95.094226,540.665058,22,132,69.566176,789,593,69.566176,789,593
Misiones,64.223884,591,434,67.103050,29,28,92.477028,237,179,92.503184,483.137465,28,127,64.223884,591,434,64.223884,591,434
Neuquén,70.500342,540,450,76.511448,41,43,86.423935,307,250,88.964642,481.767208,25,134,70.500342,540,450,70.500342,540,450
Río Negro,69.207251,677,537,74.835674,25,31,103.598180,352,324,87.843632,285.786353,44,103,69.207251,677,537,69.207251,677,537
Salta,71.656264,968,804,80.891234,75,65,88.853197,359,267,89.720809,279.782477,60,150,71.656264,968,804,71.656264,968,804
San Juan,67.697790,748,521,104.767300,34,31,98.722945,289,197,99.902292,337.176079,39,143,67.697790,748,521,67.697790,748,521
San Luis,70.911171,701,498,152.857128,31,20,83.908467,301,221,99.507381,373.481843,43,132,70.911171,701,498,70.911171,701,498
Santa Cruz,77.171302,357,314,164.652641,22,14,89.951424,232,224,84.310852,316.623928,15,63,77.171302,357,314,77.171302,357,314
Santa Fe,79.069421,1196,960,70.011791,82,107,91.678771,561,437,100.862622,231.513592,61,209,79.069421,1196,960,79.069421,1196,960
Santiago del Estero,59.575144,763,492,103.846527,38,21,93.563663,269,175,96.147696,463.479674,30,127,59.575144,763,492,59.575144,763,492
Tucumán,69.912261,838,642,92.927126,79,68,93.375876,325,218,94.834349,208.945809,79,177,69.912261,838,642,69.912261,838,642
Tierra del Fuego,70.195094,263,182,94.267248,12,9,93.603555,211,135,92.898207,423.771161,14,71,70.195094,263,182,70.195094,263,182

In [18]:
ratio_empleo, error_empleo = ratio_tasa_empleo(df_people_2022, tipo='Urbano', base='Individual')
ratio_desempleo, error_desempleo = ratio_tasa_desempleo(df_people_2022, tipo='Urbano', base='Individual')
ratio_informalidad, error_informalidad = ratio_tasa_registro(df_people_2022, tipo='Urbano', base='Individual')
ratio_horas_remuneradas, error_horas_remuneradas = ratio_tasa_horas_remuneradas(df_people_2022, tipo='Urbano', base='Individual')
ratio_poblacion_dependiente, error_poblacion_dependiente = ratio_tasa_poblacion_dependiente(df_people_2022, tipo='Urbano', base='Individual')
ratio_ingreso_laboral, error_ingreso_laboral = ratio_tasa_empleo(df_people_2022, tipo='Urbano', base='Individual')
ratio_pobreza, error_pobreza = ratio_tasa_empleo(df_people_2022, tipo='Urbano', base='Individual')

df_ratio_2022 = df_merge_ratios(ratio_empleo, ratio_desempleo, ratio_informalidad, ratio_horas_remuneradas, 
                ratio_poblacion_dependiente, ratio_ingreso_laboral, ratio_pobreza, dict_cod_provincia)

In [19]:
df_ratio_2022

,Actividad productiva,N_v,N_m,Búsqueda de trabajo,N_v,N_m,Acceso a derechos laborales,N_v,N_m,Participación en el trabajo remunerado,Dependencia económica,N_v,N_m,Actividad productiva,N_v,N_m,Actividad productiva,N_v,N_m
Nombre,,,,,,,,,,,,,,,,,,,
Ciudad de Buenos Aires,89.412074,445,419,161.520979,25,21,92.995828,253,254,101.292420,254.160554,16,37,89.412074,445,419,89.412074,445,419
Buenos Aires,73.645023,2634,2141,76.356595,194,228,94.950498,1228,1006,92.027405,420.374711,131,484,73.645023,2634,2141,73.645023,2634,2141
Catamarca,77.558489,625,520,64.946190,41,38,92.686144,306,251,96.528609,158.975144,50,88,77.558489,625,520,77.558489,625,520
Córdoba,67.712197,1183,905,53.255625,66,87,98.329853,473,372,91.472378,300.610529,52,166,67.712197,1183,905,67.712197,1183,905
Corrientes,65.606679,522,383,93.142920,29,18,97.227706,202,150,94.880948,373.202223,33,99,65.606679,522,383,65.606679,522,383
Chaco,60.173623,514,379,86.465544,15,13,117.546250,166,149,86.280021,246.392552,41,114,60.173623,514,379,60.173623,514,379
Chubut,78.660848,699,597,205.959972,41,15,86.449071,424,350,90.110331,287.436427,61,152,78.660848,699,597,78.660848,699,597
Entre Ríos,69.729636,836,630,66.777726,51,42,83.590235,363,299,98.627059,334.546612,63,170,69.729636,836,630,69.729636,836,630
Formosa,47.351500,490,256,380.957724,19,3,117.845471,174,112,95.457392,216.647216,50,116,47.351500,490,256,47.351500,490,256
Jujuy,73.805319,748,667,84.798776,40,39,97.760338,291,268,83.156534,243.630163,51,123,73.805319,748,667,73.805319,748,667
La Pampa,77.781479,410,388,104.001705,30,30,87.710288,177,181,84.349656,188.220568,32,69,77.781479,410,388,77.781479,410,388
La Rioja,74.357911,664,532,96.604454,29,24,95.123948,329,283,94.925528,392.263265,26,106,74.357911,664,532,74.357911,664,532
Mendoza,67.879554,779,597,36.335060,30,56,86.839556,340,248,91.586505,502.908867,25,107,67.879554,779,597,67.879554,779,597
Misiones,72.761794,613,509,76.348643,21,21,83.310354,283,207,91.809191,391.121985,22,105,72.761794,613,509,72.761794,613,509
Neuquén,78.144432,493,428,105.078845,26,24,91.204191,290,254,93.824243,458.993030,23,107,78.144432,493,428,78.144432,493,428
Río Negro,71.142964,696,543,90.285319,40,28,98.488582,382,324,92.897581,337.162925,41,126,71.142964,696,543,71.142964,696,543
Salta,74.652255,868,719,105.969199,72,48,92.671860,333,258,94.210355,247.895396,57,129,74.652255,868,719,74.652255,868,719
San Juan,62.059889,703,447,65.448033,16,24,99.766233,274,170,100.125514,335.793679,43,135,62.059889,703,447,62.059889,703,447
San Luis,72.764378,643,479,74.979522,11,10,85.224935,283,223,99.180304,338.178028,25,107,72.764378,643,479,72.764378,643,479
Santa Cruz,83.168407,341,289,143.220792,25,16,95.382759,221,208,93.884540,381.760014,17,65,83.168407,341,289,83.168407,341,289
Santa Fe,75.715258,1119,930,84.276075,88,69,86.180631,556,440,93.834663,303.404165,66,196,75.715258,1119,930,75.715258,1119,930
Santiago del Estero,62.550475,675,476,367.568028,35,8,86.641088,226,143,92.985882,359.872778,35,127,62.550475,675,476,62.550475,675,476
Tucumán,70.768879,898,693,92.813578,66,57,89.521708,360,248,94.826266,275.837792,52,144,70.768879,898,693,70.768879,898,693
Tierra del Fuego,70.168098,255,183,73.517332,10,11,95.455898,195,148,90.978035,362.035382,16,65,70.168098,255,183,70.168098,255,183

In [20]:
ratio_empleo, error_empleo = ratio_tasa_empleo(df_merged_with_copies, tipo='Urbano', base='Individual')
ratio_desempleo, error_desempleo = ratio_tasa_desempleo(df_merged_with_copies, tipo='Urbano', base='Individual')
ratio_informalidad, error_informalidad = ratio_tasa_registro(df_merged_with_copies, tipo='Urbano', base='Individual')
ratio_horas_remuneradas, error_horas_remuneradas = ratio_tasa_horas_remuneradas(df_merged_with_copies, tipo='Urbano', base='Individual')
ratio_poblacion_dependiente, error_poblacion_dependiente = ratio_tasa_poblacion_dependiente(df_merged_with_copies, tipo='Urbano', base='Individual')
ratio_ingreso_laboral, error_ingreso_laboral = ratio_tasa_empleo(df_merged_with_copies, tipo='Urbano', base='Individual')
ratio_pobreza, error_pobreza = ratio_tasa_empleo(df_merged_with_copies, tipo='Urbano', base='Individual')

df_ratio_with_copies = df_merge_ratios(ratio_empleo, ratio_desempleo, ratio_informalidad, ratio_horas_remuneradas, 
                ratio_poblacion_dependiente, ratio_ingreso_laboral, ratio_pobreza, dict_cod_provincia)

In [21]:
df_ratio_with_copies

,Actividad productiva,N_v,N_m,Búsqueda de trabajo,N_v,N_m,Acceso a derechos laborales,N_v,N_m,Participación en el trabajo remunerado,Dependencia económica,N_v,N_m,Actividad productiva,N_v,N_m,Actividad productiva,N_v,N_m
Nombre,,,,,,,,,,,,,,,,,,,
Ciudad de Buenos Aires,90.722059,727,686,150.000692,48,40,93.680589,411,416,102.990062,195.778481,31,65,90.722059,727,686,90.722059,727,686
Buenos Aires,72.660735,4756,3850,76.544203,351,399,93.605479,2297,1888,92.137577,394.367092,257,913,72.660735,4756,3850,72.660735,4756,3850
Catamarca,76.219907,1291,1024,63.689633,74,70,97.981963,630,513,99.772082,169.447685,116,198,76.219907,1291,1024,76.219907,1291,1024
Córdoba,68.138503,2377,1855,53.249868,177,218,94.573139,959,750,90.381444,336.036120,98,340,68.138503,2377,1855,68.138503,2377,1855
Corrientes,68.625386,1094,803,125.562305,55,31,97.458559,403,307,99.575319,232.244645,91,209,68.625386,1094,803,68.625386,1094,803
Chaco,62.167969,995,744,97.347965,51,44,120.795204,322,304,87.658530,232.342412,93,238,62.167969,995,744,62.167969,995,744
Chubut,76.072126,1457,1215,157.300883,96,52,88.856211,868,711,89.497689,372.838048,99,332,76.072126,1457,1215,76.072126,1457,1215
Entre Ríos,70.718793,1749,1302,61.508738,111,102,88.041183,759,614,95.947252,369.959057,121,357,70.718793,1749,1302,70.718793,1749,1302
Formosa,49.427923,976,520,258.149536,61,15,113.205593,354,228,97.502994,192.810273,136,298,49.427923,976,520,49.427923,976,520
Jujuy,73.143786,1570,1342,69.942669,71,81,100.604170,616,539,87.011098,254.681149,100,279,73.143786,1570,1342,73.143786,1570,1342
La Pampa,74.193283,685,599,85.787557,61,51,93.144676,300,289,88.280769,285.800665,46,121,74.193283,685,599,74.193283,685,599
La Rioja,71.524861,1384,1069,90.283147,56,44,99.605153,686,599,94.991273,477.699439,47,220,71.524861,1384,1069,71.524861,1384,1069
Mendoza,68.683379,1568,1190,48.842293,80,125,90.375466,663,505,93.278789,522.025040,47,239,68.683379,1568,1190,68.683379,1568,1190
Misiones,68.604388,1204,943,71.587264,50,49,87.496807,520,386,92.201074,439.356893,50,232,68.604388,1204,943,68.604388,1204,943
Neuquén,74.367832,1033,878,87.488850,67,67,88.909599,597,504,91.685654,470.333843,48,241,74.367832,1033,878,74.367832,1033,878
Río Negro,70.183746,1373,1080,83.055346,65,59,100.953429,734,648,90.400773,312.834354,85,229,70.183746,1373,1080,70.183746,1373,1080
Salta,73.161364,1836,1523,92.269829,147,113,90.786782,692,525,91.971738,263.242142,117,279,73.161364,1836,1523,73.161364,1836,1523
San Juan,64.829132,1451,968,86.827453,50,55,99.336025,563,367,99.775971,336.355255,82,278,64.829132,1451,968,64.829132,1451,968
San Luis,71.859302,1344,977,119.496705,42,30,84.625383,584,444,99.476254,356.589492,68,239,71.859302,1344,977,71.859302,1344,977
Santa Cruz,80.282772,698,603,152.608273,47,30,92.807127,453,432,89.109279,347.798371,32,128,80.282772,698,603,80.282772,698,603
Santa Fe,77.354321,2315,1890,75.663649,170,176,88.760503,1117,877,97.261004,263.806342,127,405,77.354321,2315,1890,77.354321,2315,1890
Santiago del Estero,61.080156,1438,968,166.453993,73,29,90.248334,495,318,94.810865,404.917294,65,254,61.080156,1438,968,61.080156,1438,968
Tucumán,70.346691,1736,1335,92.890378,145,125,91.319016,685,466,94.831098,234.972294,131,321,70.346691,1736,1335,70.346691,1736,1335
Tierra del Fuego,70.180155,518,365,82.798724,22,20,94.597706,406,283,91.937242,389.378646,30,136,70.180155,518,365,70.180155,518,365

In [22]:
ratio_empleo, error_empleo = ratio_tasa_empleo(df_merged_without_copies, tipo='Urbano', base='Individual')
ratio_desempleo, error_desempleo = ratio_tasa_desempleo(df_merged_without_copies, tipo='Urbano', base='Individual')
ratio_informalidad, error_informalidad = ratio_tasa_registro(df_merged_without_copies, tipo='Urbano', base='Individual')
ratio_horas_remuneradas, error_horas_remuneradas = ratio_tasa_horas_remuneradas(df_merged_without_copies, tipo='Urbano', base='Individual')
ratio_poblacion_dependiente, error_poblacion_dependiente = ratio_tasa_poblacion_dependiente(df_merged_without_copies, tipo='Urbano', base='Individual')
ratio_ingreso_laboral, error_ingreso_laboral = ratio_tasa_empleo(df_merged_without_copies, tipo='Urbano', base='Individual')
ratio_pobreza, error_pobreza = ratio_tasa_empleo(df_merged_without_copies, tipo='Urbano', base='Individual')

df_ratio_without_copies = df_merge_ratios(ratio_empleo, ratio_desempleo, ratio_informalidad, ratio_horas_remuneradas, 
                ratio_poblacion_dependiente, ratio_ingreso_laboral, ratio_pobreza, dict_cod_provincia)

In [23]:
df_ratio_without_copies

,Actividad productiva,N_v,N_m,Búsqueda de trabajo,N_v,N_m,Acceso a derechos laborales,N_v,N_m,Participación en el trabajo remunerado,Dependencia económica,N_v,N_m,Actividad productiva,N_v,N_m,Actividad productiva,N_v,N_m
Nombre,,,,,,,,,,,,,,,,,,,
Ciudad de Buenos Aires,90.146879,642,594,124.887820,39,36,95.525450,359,364,102.178071,199.159710,27,56,90.146879,642,594,90.146879,642,594
Buenos Aires,74.214757,3985,3250,79.009965,301,342,94.454462,1916,1584,92.970074,378.293647,213,748,74.214757,3985,3250,74.214757,3985,3250
Catamarca,75.428641,1026,813,59.028969,55,59,97.804807,507,404,98.758801,172.023823,87,152,75.428641,1026,813,75.428641,1026,813
Córdoba,68.493822,1906,1487,52.713841,129,164,92.570566,773,598,90.609111,334.635986,81,261,68.493822,1906,1487,68.493822,1906,1487
Corrientes,66.628355,924,661,108.179728,43,27,97.292316,357,258,97.336206,255.201670,75,167,66.628355,924,661,66.628355,924,661
Chaco,61.085267,829,608,116.931767,44,27,125.340199,272,258,86.698543,270.020282,69,200,61.085267,829,608,61.085267,829,608
Chubut,75.780551,1176,973,140.003129,71,43,90.016059,704,574,88.908224,358.591868,83,261,75.780551,1176,973,75.780551,1176,973
Entre Ríos,69.848436,1496,1100,51.987171,94,96,86.245691,639,515,96.984843,373.787408,101,300,69.848436,1496,1100,69.848436,1496,1100
Formosa,50.239899,841,459,247.494631,50,13,114.256045,306,206,96.941583,194.984581,108,237,50.239899,841,459,50.239899,841,459
Jujuy,74.136553,1390,1199,83.542735,71,70,95.150976,542,449,87.453644,246.029632,90,246,74.136553,1390,1199,74.136553,1390,1199
La Pampa,76.142736,595,528,84.697245,49,42,90.562603,261,253,88.045695,273.555685,41,103,76.142736,595,528,76.142736,595,528
La Rioja,72.900708,1110,866,90.926047,50,40,97.373414,553,481,96.008325,455.103266,37,170,72.900708,1110,866,72.900708,1110,866
Mendoza,67.921138,1315,994,48.556600,68,104,88.516421,549,418,92.760404,504.466278,40,200,67.921138,1315,994,67.921138,1315,994
Misiones,67.387509,961,745,53.955678,34,38,86.518256,413,295,91.044579,434.482801,40,183,67.387509,961,745,67.387509,961,745
Neuquén,75.452102,821,693,103.168765,55,48,89.678835,470,395,92.860283,489.283457,38,194,75.452102,821,693,75.452102,821,693
Río Negro,71.804220,1086,869,85.537929,54,47,103.513369,570,525,91.702354,309.270868,65,183,71.804220,1086,869,71.804220,1086,869
Salta,73.825104,1570,1318,87.331183,129,99,85.223032,591,431,92.573842,256.478748,98,231,73.825104,1570,1318,73.825104,1570,1318
San Juan,62.517975,1245,810,86.037937,40,44,101.753466,455,296,98.807426,370.990551,67,229,62.517975,1245,810,62.517975,1245,810
San Luis,71.827527,1081,771,90.568509,27,22,85.547977,471,351,99.586977,320.297189,59,187,71.827527,1081,771,71.827527,1081,771
Santa Cruz,82.546147,582,507,165.231920,41,25,91.192525,378,354,90.703519,298.859362,30,110,82.546147,582,507,82.546147,582,507
Santa Fe,76.880654,1828,1476,74.694020,140,134,87.170614,905,679,95.112890,251.080354,112,333,76.880654,1828,1476,76.880654,1828,1476
Santiago del Estero,61.300778,1164,813,158.005410,53,23,89.027497,388,251,93.506379,380.961664,51,198,61.300778,1164,813,61.300778,1164,813
Tucumán,69.471231,1418,1080,89.859773,114,98,90.699947,558,374,94.038442,257.025622,96,241,69.471231,1418,1080,69.471231,1418,1080
Tierra del Fuego,70.845506,413,295,74.509077,16,17,94.555752,328,231,92.105119,331.750085,26,103,70.845506,413,295,70.845506,413,295

In [ ]:
comparacion_indicadores = pd.DataFrame([df_ratio_2021['Actividad productiva'].iloc[:,0], 
        df_ratio_2022['Actividad productiva'].iloc[:,0], 
        df_ratio_with_copies['Actividad productiva'].iloc[:,0],
        df_ratio_without_copies['Actividad productiva'].iloc[:,0]])
comparacion_indicadores

In [ ]:
fig = plt.figure(figsize=(18, 8))
ax = plt.axes([0.05, 0.05, 0.85, 0.85])
ax.plot(comparacion_indicadores.columns, comparacion_indicadores.T.values, marker='.', markersize=10, lw=0.2, label=['2021', '2022', 'copies', 'no copies'])
ax.legend()
for label in ax.get_xticklabels():
  label.set_rotation(45)
  label.set_ha('right')

In [ ]:
comparacion_indicadores = pd.DataFrame([df_ratio_2021['Acceso a derechos laborales'], 
        df_ratio_2022['Acceso a derechos laborales'], 
        df_ratio_with_copies['Acceso a derechos laborales'],
        df_ratio_without_copies['Acceso a derechos laborales']])
comparacion_indicadores

In [ ]:
fig = plt.figure(figsize=(18, 8))
ax = plt.axes([0.05, 0.05, 0.85, 0.85])
ax.plot(comparacion_indicadores.columns, comparacion_indicadores.T.values, marker='.', markersize=10, lw=0.2, label=['2021', '2022', 'copies', 'no copies'])
ax.legend()
ax.grid(lw=.5)
ax.axhline(y=100)
for label in ax.get_xticklabels():
  label.set_rotation(45)
  label.set_ha('right')

In [ ]:
comparacion_indicadores = pd.DataFrame([df_ratio_2021['Búsqueda de trabajo'], 
        df_ratio_2022['Búsqueda de trabajo'], 
        df_ratio_with_copies['Búsqueda de trabajo'],
        df_ratio_without_copies['Búsqueda de trabajo']])
comparacion_indicadores

In [ ]:
fig = plt.figure(figsize=(18, 8))
ax = plt.axes([0.05, 0.05, 0.85, 0.85])
ax.plot(comparacion_indicadores.columns, comparacion_indicadores.T.values, marker='.', markersize=10, lw=0.2, label=['2021', '2022', 'copies', 'no copies'])
ax.legend()
ax.grid(lw=.5)
ax.axhline(y=100)
ax.set_ylim([50,150])
for label in ax.get_xticklabels():
  label.set_rotation(45)
  label.set_ha('right')

In [ ]:
comparacion_indicadores = pd.DataFrame([df_ratio_2021['Participación en el trabajo remunerado'], 
        df_ratio_2022['Participación en el trabajo remunerado'], 
        df_ratio_with_copies['Participación en el trabajo remunerado'],
        df_ratio_without_copies['Participación en el trabajo remunerado']])
comparacion_indicadores

In [ ]:
fig = plt.figure(figsize=(18, 8))
ax = plt.axes([0.05, 0.05, 0.85, 0.85])
ax.plot(comparacion_indicadores.columns, comparacion_indicadores.T.values, marker='.', markersize=10, lw=0.2, label=['2021', '2022', 'copies', 'no copies'])
ax.legend()
ax.grid(lw=.5)
ax.axhline(y=100)
#ax.set_ylim([50,150])
for label in ax.get_xticklabels():
  label.set_rotation(45)
  label.set_ha('right')