In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
path_input_data = '/home/daniufundar/Documents/Fundar/indice-desigualdad-genero-fundar/data_input/ENFR2018_baseusuario/'
filename_db = 'ENFR 2018 - Base usuario.txt'

In [3]:
df_enfr = pd.read_csv(path_input_data + filename_db, delimiter= '|', index_col=0)

### Brecha M/V en Riesgo alto o muy alto de desarrollar diabetes mellitus tipo II (DM2) en los próximos 10 años

In [4]:
# Defino diccionarios

#cod_provincia
dict_cod_provincia = {2: "Ciudad de Buenos Aires",
 6: "Buenos Aires",
 10: "Catamarca",
 14: "Córdoba",
 18: "Corrientes",
 22: "Chaco",
 26: "Chubut",
 30: "Entre Ríos",
 34: "Formosa",
 38: "Jujuy",
 42: "La Pampa",
 46: "La Rioja",
 50: "Mendoza",
 54: "Misiones",
 58: "Neuquén",
 62: "Río Negro",
 66: "Salta",
 70: "San Juan",
 74: "San Luis",
 78: "Santa Cruz",
 82: "Santa Fe",
 86: "Santiago del Estero",
 90: "Tucumán",
 94: "Tierra del Fuego"}
 
#bhch03
dict_gender = {1: 'Varon', 2: 'Mujer'}

#bhch04     Edad

#findrisc   Riesgo de desarrollar diabetes mellitus en los próximos 10 años según puntaje FINDRISC
dict_findrisc = {1: 'Muy bajo riesgo', 
                2: 'Bajo riesgo',
                3: 'Riesgo moderado',
                4: 'Alto riesgo',
                5: 'Muy alto riesgo'}

#region     Código de región INDEC
dict_region = {1: 'Metropolitana',
            2: 'Pampeana',
            3: 'Noroeste',
            4: 'Noreste',
            5: 'Cuyo',
            6: 'Patagónica'}


#aglomerado   Aglomerado urbano de 500.000 y más habitantes
dict_aglomerado = {1: 'Gran Buenos Aires', 
                2: 'Gran Córdoba',
                3: 'Gran Rosario',
                4: 'Gran Mendoza',
                5: 'Tucumán - Tafí Viejo',
                6: 'Gran La Plata',
                7: 'Mar del Plata - Batán',
                8: 'Gran Salta',
                9: 'Resto de los aglomerados'}


#localidades_150
dict_localidades_150 = {1: 'Localidad de 150.000 o más habitantes', 0: 'Localidad de menos de 150.000 habitantes'}


#submuestra
dict_submuestra = {0: 'Sin submuestra', 1: 'Submuestra'}

In [13]:
# df_enfr['cod_provincia'] = df_enfr['cod_provincia'].replace(dict_cod_provincia)
# df_enfr['region'] = df_enfr['region'].replace(dict_region)
# df_enfr['bhch03'] = df_enfr['bhch03'].replace(dict_gender)
# df_enfr['findrisc'] = df_enfr['findrisc'].replace(dict_findrisc)
# df_enfr['submuestra'] = df_enfr['submuestra'].replace(dict_submuestra)
# df_enfr['aglomerado'] = df_enfr['aglomerado'].replace(dict_aglomerado)
# df_enfr['localidades_150'] = df_enfr['localidades_150'].replace(dict_localidades_150)

In [5]:
df_enfr['findrisc'].value_counts()

2.0    4208
1.0    3499
4.0    2561
3.0    2537
5.0     291
Name: findrisc, dtype: int64

In [7]:
df_enfr['findrisc'].value_counts().sum()

13096

In [31]:
df_enfr[['findrisc','submuestra','localidades_150']]

            findrisc  submuestra  localidades_150
id
1128639          2.0           1                1
1709939          NaN           0                1
6874130          NaN           0                1
10319375         NaN           1                1
11140857         NaN           0                1
...              ...         ...              ...
2092256226       NaN           0                0
2097771079       3.0           1                0
2101464264       3.0           1                0
2116612011       NaN           0                0
2134624977       NaN           1                0

[29224 rows x 3 columns]

In [39]:
aver = df_enfr[df_enfr['findrisc']>=4].groupby(['bhch03', 'cod_provincia']).count().to_frame()

AttributeError: 'DataFrame' object has no attribute 'to_frame'

In [37]:
aver

region                              48
tamanio_aglomerado                  48
aglomerado                          48
localidades_150                     48
submuestra                          48
                                    ..
colesterol_elevado                  40
prevalencia_colesterol_combinada    40
wf1p                                48
wf2p                                48
wf3p                                48
Length: 284, dtype: int64

In [32]:
df_enfr[df_enfr['findrisc']>=4].groupby(['bhch03', 'cod_provincia'])['wf1p'].mean()

bhch03  cod_provincia
1       2                1684.551724
        6                2353.210811
        10                272.945946
        14               1043.985915
        18                605.000000
        22                510.750000
        26                404.000000
        30                452.780000
        34                278.651163
        38                505.818182
        42                255.541667
        46                338.100000
        50               1220.232558
        54                573.479167
        58                435.870968
        62                393.647059
        66                600.333333
        70                833.793103
        74                357.172414
        78                439.157895
        82               1218.861538
        86                794.862069
        90               1186.909091
        94                320.916667
2       2                1599.105263
        6                1779.806452
        10                292.947368
        14                926.362205
        18                520.807229
        22                389.516129
        26                277.228571
        30                394.916667
        34                210.543860
        38                412.716981
        42                241.205882
        46                333.697674
        50                866.808824
        54                464.174419
        58                487.761905
        62                271.144231
        66                549.260274
        70                496.000000
        74                241.916667
        78                315.692308
        82               1178.822430
        86                459.122807
        90                815.935897
        94                233.526316
Name: wf1p, dtype: float64

In [ ]:
numerador = df_adults[df_adults['ESTADO']==1].groupby(['CH04', 'Province'])['PONDERA'].sum()
denominador = df_adults.groupby(['CH04', 'Province'])['PONDERA'].sum()

df_tasa_empleo = (numerador / denominador).to_frame()