In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

#import cartopy.crs as ccrs
#import matplotlib.pyplot as plt
#import geopandas as gpd

import warnings
warnings.filterwarnings('ignore')

# Definimos fuente para los graficos
from matplotlib import rcParams
import matplotlib.font_manager as font_manager

font_dir = ['/home/daniufundar/Downloads/Archivo/']
for font in font_manager.findSystemFonts(font_dir):
    font_manager.fontManager.addfont(font)

rcParams['font.family'] = 'Archivo'

fundar_colors = ['#E27124','#AFA36E', '#5D896F','#7BB5C4', '#B3B3B3']

In [2]:
import platform

if platform.system() == "Windows":
    pathfolder = 'path_for_Windows'
elif platform.system() == "Linux":
    if platform.uname()[2] == "5.15.0-57-generic":
        pathfolder = '/home/daniufundar/Documents/Fundar/indice-desigualdad-genero-fundar/'
    elif platform.uname()[2] == "version2":
        pathfolder = '/Users/danielarisaro/Documents/fundar/indice-desigualdad-genero/'
elif platform.system() == "Darwin":
    pathfolder = '/Users/danielarisaro/Documents/fundar/indice-desigualdad-genero/'
else:
    raise Exception("Unsupported operating system")

In [12]:
pathfolder = '/home/daniufundar/Documents/Fundar/indice-desigualdad-genero-fundar/dimension-mercado-trabajo'

In [16]:
pathinput = pathfolder + '/data_input/'

In [17]:
filename_hogar = 'hogar_T'
filename_personas = 'personas_T'

list_anios = [20, 21]
list_trimestres = [1, 2, 3, 4]

In [18]:

for i, it in enumerate(list_trimestres):
    for j, janios in enumerate(list_anios):

        filename = filename_personas + str(it) + str(janios) + '.txt'
        df = pd.read_csv(pathinput + filename, delimiter=';', low_memory=False)

In [20]:
filename

'personas_T421.txt'

In [19]:
df

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
0,TQRMNOPPQHMOLPCDEGNFJ00714305,2021,4,1,4,1,44,N,17,309,...,9.0,7,33500,6,7.0,5,NaN,7.0,5,411
1,TQRMNOQPYHKMPUCDEIJAH00663642,2021,4,1,1,1,1,S,33,1573,...,NaN,4,32000,6,NaN,6,6.0,NaN,6,2285
2,TQRMNOQPYHKMPUCDEIJAH00663642,2021,4,1,2,1,1,S,33,1573,...,NaN,4,32000,6,NaN,6,6.0,NaN,6,2285
3,TQRMNOQYRHMOQRCDEIJAH00718661,2021,4,1,1,1,1,S,33,2635,...,NaN,12,0,12,NaN,12,12.0,NaN,12,0
4,TQRMNOPSTHMMLPCDEFMDB00713515,2021,4,1,2,1,43,N,6,87,...,7.0,7,43000,7,8.0,8,NaN,8.0,8,129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50149,TQRMNOQTTHMNLMCDEGJBF00712857,2021,4,1,1,1,43,S,13,517,...,NaN,6,41500,7,8.0,7,7.0,NaN,7,554
50150,TQRMNOQTTHMNLMCDEGJBF00712857,2021,4,1,2,1,43,S,13,517,...,NaN,6,41500,7,8.0,7,7.0,NaN,7,554
50151,TQRMNOQTUHKNKUCDEFJAH00665934,2021,4,1,1,1,43,N,3,232,...,4.0,4,51000,8,9.0,8,NaN,9.0,8,336
50152,TQRMNOPVWHKMLMCDEFJAH00659534,2021,4,1,1,1,43,N,3,299,...,4.0,4,"16666,67",3,3.0,2,NaN,3.0,2,659
50153,TQRMNOPVWHKMLMCDEFJAH00659534,2021,4,1,2,1,43,N,3,299,...,4.0,4,"16666,67",3,3.0,2,NaN,3.0,2,659

In [ ]:
#pathfolder_ENUT = '/home/daniufundar/Documents/Fundar/indice-desigualdad-genero-fundar/data_input/ENUT_2021/'
#filename = 'enut2021_base.txt'
#df_enut = pd.read_csv(pathfolder_ENUT + filename)

#df_enut.keys().to_list()
#df_enut['tiempo_tdnr']

In [26]:
var = 'AGLOMERADO'

In [50]:
df_temp = df.query('CH06 >= 16 & CH06 < 65')                                            # PEA

In [37]:
df_temp = df.query('CH06 >= 16 & CH06 < 65')                                            # PEA
numerador = df_temp[df_temp['ESTADO']==1].groupby(['CH04', var])['PONDERA'].sum()       # agrupo por genero y provincia y sumo
denominador_PEA = df_temp.groupby(['CH04', var])['PONDERA'].sum()                       # toma la PEA
denominador = df.groupby(['CH04', var])['PONDERA'].sum()                                # toma la poblacion total

df_tasa = numerador.div(denominador, fill_value=np.nan)
df_tasa = df_tasa.to_frame().unstack(level=0)  
ratio = (df_tasa['PONDERA'][2]/df_tasa['PONDERA'][1] * 100).to_frame()

In [39]:
df_tasa.describe()

         PONDERA
CH04           1          2
count  32.000000  32.000000
mean    0.477350   0.344671
std     0.022782   0.038695
min     0.428578   0.229587
25%     0.467123   0.324319
50%     0.478844   0.341596
75%     0.491797   0.368909
max     0.515857   0.431914

In [44]:
df_temp = df.query('CH06 >= 16 & CH06 < 65')                                            # PEA
numerador = df_temp[df_temp['ESTADO']==1].groupby(['CH04', var])['PONDERA'].sum()       # agrupo por genero y provincia y sumo
denominador_PEA = df_temp.groupby(['CH04', var])['PONDERA'].sum()                       # toma la PEA
denominador = df.groupby(['CH04', var])['PONDERA'].sum()                                # toma la poblacion total

df_tasa = numerador.div(denominador_PEA, fill_value=np.nan)
df_tasa = df_tasa.to_frame().unstack(level=0)  
ratio = (df_tasa['PONDERA'][2]/df_tasa['PONDERA'][1] * 100).to_frame()

In [45]:
ratio

                    0
AGLOMERADO
2           75.831574
3           80.766722
4           74.486199
5           71.327304
6           70.470463
7           79.451551
8           69.154015
9           68.335409
10          78.340505
12          69.230129
13          76.463901
14          59.729483
15          51.706772
17          80.652269
18          64.874964
19          75.252893
20          84.089143
22          75.078844
23          77.149026
25          63.470768
26          70.572111
27          68.657937
29          72.247884
30          73.642572
31          70.109574
32          87.749028
33          72.820942
34          85.386697
36          74.189546
38          65.263723
91          84.389399
93          73.828559

In [47]:
df_tasa

             PONDERA
CH04               1         2
AGLOMERADO
2           0.735963  0.558092
3           0.723739  0.584540
4           0.783638  0.583702
5           0.759054  0.541413
6           0.710537  0.500719
7           0.727297  0.577849
8           0.673759  0.465931
9           0.716957  0.489935
10          0.791256  0.619874
12          0.731720  0.506571
13          0.769218  0.588174
14          0.752755  0.449617
15          0.676762  0.349932
17          0.718146  0.579201
18          0.748654  0.485689
19          0.731353  0.550364
20          0.719782  0.605258
22          0.668318  0.501766
23          0.734604  0.566740
25          0.754374  0.478807
26          0.715357  0.504843
27          0.775478  0.532427
29          0.705723  0.509870
30          0.750181  0.552453
31          0.694817  0.487133
32          0.802016  0.703762
33          0.759730  0.553242
34          0.758109  0.647324
36          0.779577  0.578365
38          0.741653  0.484031
91          0.754390  0.636625
93          0.693914  0.512307

In [ ]:
df_temp = df.query('CH06 >= 16 & CH06 < 65')
numerador = df_temp[df_temp['ESTADO']==1].groupby(['CH04', var])['PONDERA'].sum()       # agrupo por genero y provincia y sumo
    
denominador = df_temp.groupby(['CH04', var])['PONDERA'].sum()
df_tasa = numerador.div(denominador, fill_value=np.nan)
df_tasa = df_tasa.to_frame().unstack(level=0)  
    
ratio = (df_tasa['PONDERA'][2]/df_tasa['PONDERA'][1] * 100).to_frame()
ratio.rename(columns={0: 'Empleo'}, inplace=True)

In [66]:
df_temp = df.query('CH06 >= 16 & CH06 < 65') 
df_temp = df_temp.query('ESTADO == 1 or ESTADO == 2') 
numerador = df_temp[df_temp['ESTADO']==2].groupby(['CH04', var])['PONDERA'].sum()       # agrupo por genero y provincia y sumo
denominador = df_temp.groupby(['CH04', var])['PONDERA'].sum()                           # agrupo solo por genero
df_tasa = (numerador / denominador).to_frame().unstack(level=0)                         # calculo tasa

ratio = (df_tasa['PONDERA'][2]/df_tasa['PONDERA'][1] * 100).to_frame()
ratio = (df_tasa['PONDERA'][1]/df_tasa['PONDERA'][2] * 100).to_frame()

ratio.rename(columns={0: 'Desempleo'}, inplace=True)

In [67]:
ratio

             Desempleo
AGLOMERADO
2           167.185763
3            68.306513
4            89.391163
5            45.984817
6            66.757131
7           152.637377
8            84.109833
9           134.680642
10           62.132243
12          105.796768
13           64.040234
14           69.458943
15          249.396000
17          182.184158
18          209.971844
19           70.448600
20          180.089376
22           56.174087
23           87.493335
25           66.012494
26          128.933480
27           62.473416
29          112.158446
30           41.673135
31          108.213791
32           94.820659
33           81.119785
34           70.545444
36           93.085399
38           55.696636
91           89.542016
93           10.531892

In [ ]:
    df_temp = df.query('CH06 >= 16 & CH06 < 65') 
    df_temp# tienen que ser activas: ['ESTADO']==[1,2]
    numerador = df_temp[df_temp['ESTADO']==2].groupby(['CH04', var])['PONDERA'].sum()       # agrupo por genero y provincia y sumo
    denominador = df_temp.groupby(['CH04', var])['PONDERA'].sum()                           # agrupo solo por genero
    df_tasa = (numerador / denominador).to_frame().unstack(level=0)                         # calculo tasa

    ratio = (df_tasa['PONDERA'][2]/df_tasa['PONDERA'][1] * 100).to_frame()
    ratio.rename(columns={0: 'Desempleo'}, inplace=True)

In [42]:
## Defino funciones dimension mercado de trabajo e ingresos

# Componente: Inserción laboral

# T1. 
# Variable: Actividad productiva
# Indicador: Ratio M/V en tasa de empleo

def ratio_tasa_empleo(df, tipo='Aglomerado', base='Individual'):

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios en tasa de empleo M/V desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """

    # Check if the necessary columns exist in the input DataFrame
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA']):
        raise ValueError("El DataFrame de entrada debe tener las siguientes columnas: 'CH04', 'CH06', 'ESTADO', 'PONDERA'")
        
    # Check if the input value of "tipo" is valid
    if tipo not in ['Aglomerado', 'Urbano']:
        return None, 'Error: tipo debe ser "Aglomerado" o "Urbano"'
    if base not in ['Individual', 'Hogar']:
        return None, 'Error: base debe ser "Individual" o "Hogar"'
    if not isinstance(df, pd.DataFrame):
        return None, 'Error: df debe ser un DataFrame de pandas'

    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')
    numerador = df_temp[df_temp['ESTADO']==1].groupby(['CH04', var])['PONDERA'].sum()       # agrupo por genero y provincia y sumo
    
    denominador = df_temp.groupby(['CH04', var])['PONDERA'].sum()
    df_tasa = numerador.div(denominador, fill_value=np.nan)
    df_tasa = df_tasa.to_frame().unstack(level=0)  
    
    ratio = (df_tasa['PONDERA'][2]/df_tasa['PONDERA'][1] * 100).to_frame()
    ratio.rename(columns={0: 'Empleo'}, inplace=True)

    # Calculate error

    error = pd.DataFrame(index=ratio.index)

    return ratio, error


# T2. 
# Variable: Informalidad
# Indicador: Ratio M/V en tasa de desempleo

def ratio_tasa_desempleo(df, tipo='Aglomerado', base='Individual'):

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios en tasa de desempleo M/V desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """
    # Check if the necessary columns exist in the input DataFrame
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA']):
        raise ValueError("The input DataFrame must have the following columns: 'CH04', 'CH06', 'ESTADO', 'PONDERA'")
        
    # Check if the input value of "tipo" is valid
    if tipo not in ['Aglomerado', 'Urbano']:
        return None, 'Error: tipo debe ser "Aglomerado" o "Urbano"'
    if base not in ['Individual', 'Hogar']:
        return None, 'Error: base debe ser "Individual" o "Hogar"'
    if not isinstance(df, pd.DataFrame):
        return None, 'Error: df debe ser un DataFrame de pandas'

    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65') # tienen que ser activas: ['ESTADO']==[1,2]
    numerador = df_temp[df_temp['ESTADO']==2].groupby(['CH04', var])['PONDERA'].sum()       # agrupo por genero y provincia y sumo
    denominador = df_temp.groupby(['CH04', var])['PONDERA'].sum()                           # agrupo solo por genero
    df_tasa = (numerador / denominador).to_frame().unstack(level=0)                         # calculo tasa

    ratio = (df_tasa['PONDERA'][2]/df_tasa['PONDERA'][1] * 100).to_frame()
    ratio.rename(columns={0: 'Desempleo'}, inplace=True)

    error = 'a definir'

    return ratio, error

# T3.
# Variable: Actividad productiva
# Indicador: Ratio M/V en tasa de empleo asalariado sin descuento jubilatorio

def ratio_tasa_informalidad(df, tipo='Aglomerado', base='Individual'):

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios en tasa de informalidad M/V desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """

    # Check if the necessary columns exist in the input DataFrame
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA', 'CAT_OCUP', 'PP07H']):
        raise ValueError("The input DataFrame must have the following columns: 'CH04', 'CH06', 'ESTADO', 'PONDERA', 'CAT_OCUP', 'PP07H'")
        
    # Check if the input value of "tipo" is valid
    if tipo not in ['Aglomerado', 'Urbano']:
        return None, 'Error: tipo debe ser "Aglomerado" o "Urbano"'
    if base not in ['Individual', 'Hogar']:
        return None, 'Error: base debe ser "Individual" o "Hogar"'
    if not isinstance(df, pd.DataFrame):
        return None, 'Error: df debe ser un DataFrame de pandas'

    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')
    numerador = df_temp[(df_temp['ESTADO']==1) & (df_temp['CAT_OCUP']==3) & (df_temp['PP07H']==2)].groupby(['CH04', var])['PONDERA'].sum()
    denominador = df_temp[(df_temp['ESTADO']==1) & (df_temp['CAT_OCUP']==3)].groupby(['CH04', var])['PONDERA'].sum()
    df_tasa = (numerador / denominador).to_frame().unstack(level=0)                         # calculo tasa

    ratio = (df_tasa['PONDERA'][2]/df_tasa['PONDERA'][1] * 100).to_frame()
    ratio.rename(columns={0: 'Empleo asalariado sin jubilacion'}, inplace=True)

    error = pd.DataFrame(index=ratio.index)
    for i in ratio.index:
        if denominador[i] == 0:
            error[i] = 'Warning: El denominador es cero, no se puede calcular el ratio'
        else:
            error[i] = np.sqrt((ratio[i]*(1-ratio[i])/denominador[i]))

    return ratio, error

# T4. 
# Variable: Horas trabajadas pagas 
# Indicador: Ratio M/V en Horas semanales promedio destinadas al trabajo remunerado

def ratio_tasa_horas_remuneradas(df, tipo='Aglomerado', base='Individual'):

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios en tasa de horas remuneradas M/V desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """

    # Check if the necessary columns exist in the input DataFrame
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA', 'CAT_OCUP', 'PP07H']):
        raise ValueError("The input DataFrame must have the following columns: 'CH04', 'CH06', 'ESTADO', 'PONDERA', 'CAT_OCUP', 'PP07H'")
        
    # Check if the input value of "tipo" is valid
    if tipo not in ['Aglomerado', 'Urbano']:
        return None, 'Error: tipo debe ser "Aglomerado" o "Urbano"'
    if base not in ['Individual', 'Hogar']:
        return None, 'Error: base debe ser "Individual" o "Hogar"'
    if not isinstance(df, pd.DataFrame):
        return None, 'Error: df debe ser un DataFrame de pandas'

    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')
    df_tasa = df_temp[(df_temp['ESTADO']==1) & (df_temp['CAT_OCUP']==3) & (df_temp['PP07H']==2)].groupby(['CH04', var])['PONDERA'].mean().to_frame().unstack(level=0)
    
    ratio = (df_tasa['PONDERA'][2]/df_tasa['PONDERA'][1] * 100).to_frame()
    ratio.rename(columns={0: 'Horas remuneradas'}, inplace=True)
    
    error = 'a definir'

    return ratio, error


# T5. 
# Variable: Horas trabajadas en el hogar
# Indicador: Ratio M/V en Horas semanales promedio destinadas al TNR en el hogar

        # en funcion de la enut


# Componente: Autonomía económica

# T6. 
# Variable: Dependencia económica 
# Indicador: Ratio M/V en Población inactiva y que no estudia sin ingresos propios

def ratio_tasa_poblacion_dependiente(df, tipo='Aglomerado', base='Individual'):

    # En este caso dividir el indicador segun algun percentil de ingresos. Por ejemplo de 90 a 60. Ver literatura al respecto 

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios en tasa M/V de población inactiva que no estudia y no tiene ingresos propios, desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """

    # Check if the necessary columns exist in the input DataFrame
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA', 'P47T', 'CH10', 'PONDII']):
        raise ValueError("The input DataFrame must have the following columns: 'CH04', 'CH06', 'ESTADO', 'PONDERA', 'P47T', 'CH10', 'PONDII'")
        
    # Check if the input value of "tipo" is valid
    if tipo not in ['Aglomerado', 'Urbano']:
        return None, 'Error: tipo debe ser "Aglomerado" o "Urbano"'
    if base not in ['Individual', 'Hogar']:
        return None, 'Error: base debe ser "Individual" o "Hogar"'
    if not isinstance(df, pd.DataFrame):
        return None, 'Error: df debe ser un DataFrame de pandas'
    
    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')

    numerador = df_temp[(df_temp['ESTADO']==3) & (df_temp['P47T']==0) & (df_temp['CH10']!=1)].groupby(['CH04', var])['PONDII'].sum()
    denominador = df_temp.groupby(['CH04', var])['PONDERA'].sum()
    df_tasa = (numerador / denominador).to_frame().unstack(level=0)                         # calculo tasa

    ratio = (df_tasa[0][2]/df_tasa[0][1] * 100).to_frame()
    ratio.rename(columns={0: 'Poblacion dependiente'}, inplace=True)
    
    error = pd.DataFrame(index=ratio.index)
    for i in ratio.index:
        if denominador[i] == 0:
            error[i] = 'Warning: El denominador es cero, no se puede calcular el ratio'
        else:
            error[i] = np.sqrt((ratio[i]*(1-ratio[i])/denominador[i]))

    return ratio, error

# T7. 
# Variable: Diferencia de ingreso laboral
# Indicador: Ratio M/V en Ingreso salarial promedio mensual

def ratio_ingreso_laboral_mensual(df, tipo='Aglomerado', base='Individual'):

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios del ingreso individual mensual laboral de M/V, desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """

    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')

    df_tasa = df_temp.groupby(['CH04', var])['PONDIIO'].mean().to_frame().unstack(level=0)  
    
    ratio = (df_tasa['PONDIIO'][2]/df_tasa['PONDIIO'][1] * 100).to_frame()
    ratio.rename(columns={0: 'Ingreso laboral'}, inplace=True)
    
    error = 'a definir'

    return ratio, error


# T8. 
# Variable: Pobreza
# Indicador: Ratio M/V en Población con ingreso total individual inferior a LP

def ratio_pobreza(df, CBT, tipo='Aglomerado', base='Individual'):

    """
    INPUTS
    df: DataFrame. Tabla input EPH
    tipo: string. Tipo de encuesta de la EPH, Aglomerado o Urbano. Default Aglomerado
    base: string. Tipo de base de la encuesta de la EPH, Individual u Hogar. Default Individual

    OUTPUTS
    ratio: DataFrame. Tabla con Ratios del ingreso individual mensual laboral de M/V, desagregado por Aglomerado o Provincia
    error: DataFrame. Tabla con los errores asociados a los Ratios

    """

    if tipo=='Aglomerado':
        var = 'AGLOMERADO' 
    elif tipo=='Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')

    numerador = df_temp[df_temp['P47T']<CBT].groupby(['CH04', var])['PONDII'].sum()
    denominador = df_temp.groupby([var])['PONDII'].sum()
    df_tasa = (numerador / denominador).to_frame().unstack(level=0)

    ratio = (df_tasa['PONDII'][2]/df_tasa['PONDII'][1] * 100).to_frame()
    ratio.rename(columns={0: 'Pobreza'}, inplace=True)
        
    error = df_tasa['PONDII'][1:3].apply(lambda x: np.sqrt(x * (1-x) / denominador))
    error = (error[2]/error[1] * 100).to_frame()
    error.rename(columns={0: 'Error'}, inplace=True)
    
    return ratio, error    


# Dos caminos
# 1. Llevar los individuos a esa medida de adultos equivalentes. y en funcion de eso mover la linea de pobreza. 
# 2. Hacer el calculo per capita 

def df_merge_ratios(ratio_empleo, ratio_desempleo, ratio_informalidad, ratio_horas_remuneradas, 
                ratio_poblacion_dependiente, ratio_ingreso_laboral, ratio_pobreza, diccionario):

    df_ratio = pd.concat([ratio_empleo, ratio_desempleo, ratio_informalidad, ratio_horas_remuneradas, 
                    ratio_poblacion_dependiente, ratio_ingreso_laboral, ratio_pobreza], axis=1)
                    
    df_ratio['Nombre'] = df_ratio.index.map(diccionario)

    df_ratio = df_ratio.set_index('Nombre')
    
    return df_ratio

In [10]:
#cod_provincia
dict_cod_provincia = {2: "Ciudad de Buenos Aires",
 6: "Buenos Aires",
 10: "Catamarca",
 14: "Córdoba",
 18: "Corrientes",
 22: "Chaco",
 26: "Chubut",
 30: "Entre Ríos",
 34: "Formosa",
 38: "Jujuy",
 42: "La Pampa",
 46: "La Rioja",
 50: "Mendoza",
 54: "Misiones",
 58: "Neuquén",
 62: "Río Negro",
 66: "Salta",
 70: "San Juan",
 74: "San Luis",
 78: "Santa Cruz",
 82: "Santa Fe",
 86: "Santiago del Estero",
 90: "Tucumán",
 94: "Tierra del Fuego"}

In [11]:
#cod_aglomerado

dict_cod_aglomerado = {2: "Gran La Plata",
3: "Bahía Blanca - Cerri",
4: "Gran Rosario",
5: "Gran Santa Fé",
6: "Gran Paraná",
7: "Posadas",
8: "Gran Resistencia",
9: "Comodoro Rivadavia - Rada Tilly",
10:" Gran Mendoza",
12: "Corrientes",
13: "Gran Córdoba",
14: "Concordia",
15: "Formosa",
17: "Neuquén – Plottier",
18: "Santiago del Estero - La Banda",
19: "Jujuy-Palpalá",
20: "Río Gallegos",
22: "Gran Catamarca",
23: "Gran Salta",
25: "La Rioja",
26: "Gran San Luis",
27: "Gran San Juan",
29: "Gran Tucumán - Tafí Viejo",
30: "Santa Rosa – Toay",
31: "Ushuaia - Río Grande",
32: "Ciudad Autónoma de Buenos Aires",
33: "Partidos del GBA",
34: "Mar del Plata",
36: "Río Cuarto",
38: "San Nicolás – Villa Constitución",
91: "Rawson – Trelew",
93: "Viedma – Carmen de Patagones"}

In [57]:
var = 'AGLOMERADO' 
df_temp = df.query('CH06 >= 16 & CH06 < 65')
numerador = df_temp[df_temp['ESTADO']==1].groupby(['CH04', var])['PONDERA'].sum()
denominador = df_temp.groupby(['CH04', var])['PONDERA'].sum()
df_tasa = numerador.div(denominador, fill_value=np.nan)
df_tasa = df_tasa.to_frame().unstack(level=0)  
    
ratio = (df_tasa['PONDERA'][2]/df_tasa['PONDERA'][1] * 100).to_frame()
ratio.rename(columns={0: 'Empleo'}, inplace=True)
error = pd.DataFrame(index=ratio.index)

In [66]:
df_temp = df.query('CH06 >= 16 & CH06 < 65')

df_temp_numerador = df_temp[df_temp['ESTADO']==1]
df_temp_numerador = df_temp_numerador.pivot_table(values='PONDERA', index='AGLOMERADO', columns='CH04', aggfunc='sum')

df_temp_denominador = df_temp.pivot_table(values='PONDERA', index='AGLOMERADO', columns='CH04', aggfunc='sum')

df_temp_numerador['Ratio'] = (df_temp_numerador[2]/df_temp_denominador[2]) / (df_temp_numerador[1]/df_temp_denominador[1] )*100
df_temp_numerador.reset_index(inplace=True)

# Calculating the SE of the ratio
p1 = df_temp_numerador[2]/df_temp_denominador[2]
p2 = df_temp_numerador[1]/df_temp_denominador[1]
SE_ratio = np.sqrt((p1*(1-p1)/df_temp_denominador[2]) + (p2*(1-p2)/df_temp_denominador[1]))

df_temp_numerador['SE_ratio'] = SE_ratio
df_temp_numerador.reset_index(inplace=True)

In [43]:
ratio_empleo, error_empleo = ratio_tasa_empleo(df, tipo='Aglomerado', base='Individual')

In [44]:
ratio_empleo

               Empleo
AGLOMERADO
2           75.831574
3           80.766722
4           74.486199
5           71.327304
6           70.470463
7           79.451551
8           69.154015
9           68.335409
10          78.340505
12          69.230129
13          76.463901
14          59.729483
15          51.706772
17          80.652269
18          64.874964
19          75.252893
20          84.089143
22          75.078844
23          77.149026
25          63.470768
26          70.572111
27          68.657937
29          72.247884
30          73.642572
31          70.109574
32          87.749028
33          72.820942
34          85.386697
36          74.189546
38          65.263723
91          84.389399
93          73.828559

In [ ]:
ratio_empleo, error_empleo = ratio_tasa_empleo(df, tipo='Aglomerado', base='Individual')
ratio_desempleo, error_desempleo = ratio_tasa_desempleo(df, tipo='Aglomerado', base='Individual')
ratio_informalidad, error_informalidad = ratio_tasa_informalidad(df, tipo='Aglomerado', base='Individual')
ratio_horas_remuneradas, error_horas_remuneradas = ratio_tasa_horas_remuneradas(df, tipo='Aglomerado', base='Individual')
ratio_poblacion_dependiente, error_poblacion_dependiente = ratio_tasa_poblacion_dependiente(df, tipo='Aglomerado', base='Individual')
ratio_ingreso_laboral, error_ingreso_laboral = ratio_ingreso_laboral_mensual(df, tipo='Aglomerado', base='Individual')
ratio_pobreza, error_pobreza = ratio_pobreza(df, CBT=111444, tipo='Aglomerado', base='Individual')

df_ratio = df_merge_ratios(ratio_empleo, ratio_desempleo, ratio_informalidad, ratio_horas_remuneradas, 
                ratio_poblacion_dependiente, ratio_ingreso_laboral, ratio_pobreza, dict_cod_aglomerado)

In [ ]:
path_basemaps = '/home/daniu/Documentos/fundar/indice-desigualdad-genero/basemaps/aglomerados_eph/'
path_basemaps = '/home/daniufundar/Documents/Fundar/indice-desigualdad-genero-fundar/basemaps/aglomerados_eph/'

gdf_aglomerados = gpd.read_file(path_basemaps + 'gdf_aglomerados_con_codigo.shp')
gdf_aglomerados['eph_codagl'] = gdf_aglomerados['eph_codagl'].astype(int)
gdf_aglomerados['index'] = gdf_aglomerados['eph_codagl'].map(dict_cod_aglomerado)

gdf_aglomerados.set_index(gdf_aglomerados['index'], inplace=True)

In [ ]:
df = pd.merge(gdf_aglomerados, df_ratio, left_index=True, right_index=True, how='inner')

In [ ]:
from shapely import wkt

pathmaps = '/Users/danielarisaro/Documents/fundar/desarrollo_social_GC/maps/'
pathmaps = '/home/daniufundar/Documents/Fundar/desarrollo_social_GC/maps/'

filename_dpto = 'departamento.csv'
filename_pcia = 'provincia.csv'

df_pcia = pd.read_csv(pathmaps + filename_pcia)

df_pcia['geometry'] = df_pcia['geom'].apply(wkt.loads)
gdf_pcia = gpd.GeoDataFrame(df_pcia, crs='epsg:4326')

gdf_pcia = gdf_pcia.set_index("fna")
gdf_pcia['boundary'] = gdf_pcia.boundary
gdf_pcia['area'] = gdf_pcia.area

In [ ]:
import descartes
from descartes import PolygonPatch

# Plot the shapefile
fig, ax = plt.subplots(figsize = (15,10))

# Plot the polygons
for i, row in gdf_pcia.iterrows():
    ax.add_patch(PolygonPatch(row['geometry'], fc='#999999', ec='black', lw=0.5, alpha=0.9, zorder=3))

# Set the x and y limits of the plot to the min and max values of the shapefile
xmin, ymin, xmax, ymax = gdf_pcia.total_bounds
ax.set_xlim(xmin, xmax)
ax.set_ylim(ymin, ymax)

plt.show()

In [ ]:
fig = plt.figure(figsize=(10,10))
ax = plt.axes([0.05, 0.05, 0.85, 0.85])

df.plot('Empleo', cmap='GnBu', ax=ax)

# Plot the polygons
for i, row in gdf_pcia.iterrows():
    ax.add_patch(PolygonPatch(row['geometry'], fc='#999999', ec='black', lw=0.5, alpha=0.9, zorder=3))

# Set the x and y limits of the plot to the min and max values of the shapefile
xmin, ymin, xmax, ymax = gdf_pcia.total_bounds
ax.set_xlim(xmin, xmax)
ax.set_ylim(ymin, ymax)

In [ ]:
lat_s = -34.71
lat_n = -34.52
lon_w = -58.55
lon_e = -58.33

# Define the projection for the plot
projection = ccrs.PlateCarree()

In [ ]:
# Create a figure and axes
fig = plt.figure(figsize=(9,9))
ax = plt.axes([0.05, 0.05, 0.85, 0.85], projection=projection)
ax.spines.right.set_visible(False)
ax.spines.top.set_visible(False)
ax.set_extent([lon_w, lon_e, lat_s, lat_n], crs=ccrs.PlateCarree())
ax.set_aspect('equal', 'box')

In [ ]:


# Plot the data
df.plot(ax=ax, edgecolor='black', facecolor='gray')

# Add coastlines
ax.coastlines()

# Add gridlines
gl = ax.gridlines(crs=ccrs.PlateCarree(), draw_labels=True,
                  linewidth=2, color='gray', alpha=0.5, linestyle='--')
gl.xlabels_top = False
gl.ylabels_right = False