In [2]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import pickle
import warnings
warnings.filterwarnings('ignore')

In [4]:
# Definimos path
pathdata = '/home/daniu/Documentos/fundar/indice-mercado-trabajo-ingresos/'
pathdata = '/Users/danielarisaro/Documents/Fundar/indice-mercado-trabajo-ingresos/'
pathdata = '/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/'

In [5]:
with open(pathdata + 'modulos/diccionarios/' + 'diccionario_aglomerados.pickle', 'rb') as file:
    dict_cod_aglomerado = pickle.load(file)

with open(pathdata + 'modulos/diccionarios/' + 'diccionario_provincia.pickle', 'rb') as file:
    dict_cod_provincia = pickle.load(file)

with open(pathdata + 'modulos/diccionarios/' + 'diccionario_aglomerado_provincia.pickle', 'rb') as file:
    map_aglomerado_provincia = pickle.load(file)

with open(pathdata + 'modulos/diccionarios/' + 'diccionario_aglomerado_region.pickle', 'rb') as file:
    map_aglomerado_region = pickle.load(file)

with open(pathdata + 'modulos/diccionarios/' + 'diccionario_provincia_region.pickle', 'rb') as file:
    map_provincia_region = pickle.load(file)

In [6]:
cols = ['PONDERA_new', 'AGLOMERADO', 'CH06']

df_people_pool = pd.read_csv(pathdata + 'data_output/Base_pool_individuos_solo_con_replicas_actuales.csv', low_memory=False, usecols=cols)

In [7]:
df_temp = df_people_pool[df_people_pool['CH06']>14]
df_pob = df_temp.groupby(['AGLOMERADO']).sum(['PONDERA_new'])
df_pob.index = df_pob.index.map(dict_cod_aglomerado)
df_pob['PROVINCIA'] = df_pob.index.map(map_aglomerado_provincia)
pob_pba = df_pob[df_pob['PROVINCIA']=='Buenos Aires']['PONDERA_new'].sum()
gba = df_pob[df_pob['PROVINCIA']=='Buenos Aires'].loc['Partidos del GBA', 'PONDERA_new']
resto_pba = df_pob[df_pob['PROVINCIA']=='Buenos Aires'].loc[['Gran La Plata', 'Bahía Blanca - Cerri', 'Mar del Plata', 'Resto Buenos Aires'], 'PONDERA_new'].sum()
coef_gba = gba/pob_pba
coef_resto_pba = resto_pba/pob_pba
print(coef_gba, coef_resto_pba)

0.7453408696034303 0.25465913039656984

In [8]:
dict_regiones_ENUT = {1: 'Gran Buenos Aires',
                    2: 'Pampeana',
                    3: 'Noroeste',
                    4: 'Noreste',
                    5: 'Cuyo',
                    6: 'Patagonia'}

In [9]:
pathfolder_ENUT =  pathdata + 'data_input/ENUT_2021/Bases de datos/'
filename = 'enut2021_base.txt'
df_enut_base = pd.read_csv(pathfolder_ENUT + filename, sep='|')
columnas = pd.DataFrame(df_enut_base.columns)

In [10]:
pondera = 'WPER'
df_temp = df_enut_base[df_enut_base['EDAD_SEL']>=14]
df_selected = df_temp[(~df_temp['TSS_GRANGRUPO_TNR'].isna())][['TSS_GRANGRUPO_TNR', 'SEXO_SEL', 'REGION', pondera]]
df_selected['Multiplication'] = df_selected['TSS_GRANGRUPO_TNR'] * df_selected[pondera]

numerador = df_selected.groupby(['SEXO_SEL', 'REGION'])['Multiplication'].sum().unstack(level=0)
denominador = df_selected.groupby(['SEXO_SEL', 'REGION'])[pondera].sum().unstack(level=0)
tasa = numerador.div(denominador, fill_value=np.nan)    
tasa = tasa.rename(columns= {2:'Varon', 1:'Mujer'})

size = df_temp[(~df_temp['TSS_GRANGRUPO_TNR'].isna())].groupby(['REGION', 'SEXO_SEL']).size().unstack(level=1)
size = size.rename(columns= {2:'N_v', 1:'N_m'})

n_pob = df_temp[(~df_temp['TSS_GRANGRUPO_TNR'].isna())].groupby(['REGION', 'SEXO_SEL'])[pondera].sum().unstack(level=1)
n_pob = n_pob.rename(columns= {2:'N_pob_v', 1:'N_pob_m'})

size[['N_pob_v', 'N_pob_m']] = n_pob[['N_pob_v', 'N_pob_m']]
size['N_pob_tot'] = n_pob['N_pob_v'] + n_pob['N_pob_m'] 

ratio = tasa['Varon'] / tasa['Mujer']

error = pd.DataFrame(index=size.index, columns=['LI', 'LS', 'ME', 'ER'])

ratio_minutos_promedio_no_pago = pd.concat([tasa, size, ratio*100, error], axis=1)
ratio_minutos_promedio_no_pago.rename(columns={0: 'Tiempo TNR'}, inplace=True)

ratio_minutos_promedio_no_pago.index = ratio_minutos_promedio_no_pago.index.map(dict_regiones_ENUT)

In [39]:
map_provincia_region['Ciudad Autónoma de Buenos Aires'] = 'Gran Buenos Aires'

In [43]:
provincias = list(map_provincia_region.keys())
regiones = [map_provincia_region[provincia] for provincia in provincias]

new_df = pd.DataFrame(index=provincias, columns=['Mujer', 'Varon'])
for provincia in provincias:
    region = map_provincia_region[provincia]
    new_df.loc[provincia,:] = ratio_minutos_promedio_no_pago.loc[region,['Mujer', 'Varon']]

new_df.index.name = 'Provincia'

new_df

                                                         Mujer       Varon
Provincia
Ciudad Autónoma de Buenos Aires                     272.679498  137.045306
Buenos Aires                                        254.803949  144.061725
Neuquén                                             245.979699   133.39395
Córdoba                                             254.803949  144.061725
San Luis                                            281.043165  133.301909
Santa Fe                                            254.803949  144.061725
Misiones                                            242.804667  116.366476
La Rioja                                            256.424244  103.365229
Mendoza                                             281.043165  133.301909
Tucumán                                             256.424244  103.365229
Tierra del Fuego, Antártida e Islas del Atlánti...  245.979699   133.39395
Entre Ríos                                          254.803949  144.061725
La Pampa                                            254.803949  144.061725
Chaco                                               242.804667  116.366476
Río Negro                                           245.979699   133.39395
San Juan                                            281.043165  133.301909
Corrientes                                          242.804667  116.366476
Santiago del Estero                                 256.424244  103.365229
Catamarca                                           256.424244  103.365229
Salta                                               256.424244  103.365229
Formosa                                             242.804667  116.366476
Chubut                                              245.979699   133.39395
Santa Cruz                                          245.979699   133.39395
Jujuy                                               256.424244  103.365229

In [44]:
ratio_minutos_promedio_no_pago

,Mujer,Varon,N_m,N_v,N_pob_v,N_pob_m,N_pob_tot,Tiempo TNR,LI,LS,ME,ER
REGION,,,,,,,,,,,,
Gran Buenos Aires,272.679498,137.045306,1175,993,5846495,6323252,12169747,50.258749,NaN,NaN,NaN,NaN
Pampeana,254.803949,144.061725,2617,2008,2428487,2687805,5116292,56.538262,NaN,NaN,NaN,NaN
Noroeste,256.424244,103.365229,1397,1104,1032035,1136737,2168772,40.310240,NaN,NaN,NaN,NaN
Noreste,242.804667,116.366476,746,546,536216,598613,1134829,47.925964,NaN,NaN,NaN,NaN
Cuyo,281.043165,133.301909,935,701,779446,853269,1632715,47.431116,NaN,NaN,NaN,NaN
Patagonia,245.979699,133.393950,1185,943,458211,465090,923301,54.229658,NaN,NaN,NaN,NaN

In [45]:
## Corrijo el caso de PBA
new_df.loc['Buenos Aires', ['Mujer', 'Varon']] = ratio_minutos_promedio_no_pago.loc['Gran Buenos Aires', ['Mujer', 'Varon']]*coef_gba + \
                                        ratio_minutos_promedio_no_pago.loc['Pampeana', ['Mujer', 'Varon']]*coef_resto_pba

In [47]:
new_df['Tiempo TNR'] = new_df['Varon'] / new_df['Mujer']*100

In [51]:
new_df = new_df.rename(index={'Ciudad Autónoma de Buenos Aires':'CABA', 'Tierra del Fuego, Antártida e Islas del Atlántico Sur':'TdF'})

In [52]:
new_df

                          Mujer       Varon Tiempo TNR
Provincia
CABA                 272.679498  137.045306  50.258749
Buenos Aires         268.127327  138.832101  51.778423
Neuquén              245.979699   133.39395  54.229658
Córdoba              254.803949  144.061725  56.538262
San Luis             281.043165  133.301909  47.431116
Santa Fe             254.803949  144.061725  56.538262
Misiones             242.804667  116.366476  47.925964
La Rioja             256.424244  103.365229   40.31024
Mendoza              281.043165  133.301909  47.431116
Tucumán              256.424244  103.365229   40.31024
TdF                  245.979699   133.39395  54.229658
Entre Ríos           254.803949  144.061725  56.538262
La Pampa             254.803949  144.061725  56.538262
Chaco                242.804667  116.366476  47.925964
Río Negro            245.979699   133.39395  54.229658
San Juan             281.043165  133.301909  47.431116
Corrientes           242.804667  116.366476  47.925964
Santiago del Estero  256.424244  103.365229   40.31024
Catamarca            256.424244  103.365229   40.31024
Salta                256.424244  103.365229   40.31024
Formosa              242.804667  116.366476  47.925964
Chubut               245.979699   133.39395  54.229658
Santa Cruz           245.979699   133.39395  54.229658
Jujuy                256.424244  103.365229   40.31024

In [54]:
new_df.to_csv(pathdata + 'data_output/indicadores/05_tiempo_no_remunerado.csv')
ratio_minutos_promedio_no_pago.to_csv(pathdata + 'data_output/indicadores/05_tiempo_no_remunerado_regional.csv')