In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

In [5]:
# Definimos path
pathdata = '/home/daniu/Documentos/fundar/indice-mercado-trabajo-ingresos/'
pathdata = '/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/'
pathdata = '/Users/danielarisaro/Documents/Fundar/indice-mercado-trabajo-ingresos/'

In [6]:
df_people_pool = pd.read_csv(pathdata + 'data_output/Base_pool_individuos_solo_con_replicas_actuales.csv', low_memory=False, index_col=0)
df_houses_pool = pd.read_csv(pathdata + 'data_output/Base_pool_hogares_solo_con_replicas_actuales.csv', low_memory=False, index_col=0)

## T1. Actividad productiva
### Indicador: Ratio M/V en tasa de empleo

In [7]:
def actividad_productiva(df, tipo='Aglomerado', base='Individual', confidence_level=0.95):
    
    """
    Calcula la actividad productiva, a partir de la proporción de tasas de empleo entre hombres y mujeres, junto con los errores asociados.

    Args:
        df (DataFrame): DataFrame de entrada que contiene los datos de la EPH.
        tipo (str): Tipo de encuesta de la EPH, 'Aglomerado' o 'Urbano'. Por defecto: 'Aglomerado'.
        base (str): Tipo de base de la EPH, 'Individual' o 'Hogar'. Por defecto: 'Individual'.
        confidence_level (float): Nivel de confianza para el cálculo de errores. Por defecto: 0.95.

    Returns:
        tasa (DataFrame): DataFrame con las tasas de empleo (M/V) desglosadas por Aglomerado o Provincia. Expresado en % [0-100]
        size (DataFrame): DataFrame con los numeros de observaciones utilizados para calcular tasas de empleo (M/V). Expresado en valores absolutos
        ratio (DataFrame): DataFrame con las proporciones de tasas de empleo (M/V). Expresado en % [0-100]
        error (DataFrame): DataFrame con los errores asociados a las proporciones. Expresado en % [0-100]. 
                            LI: Limite inferior, LS: Limite superior, ME: Margen de error, ER: Error relativo (CV)


    """
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA_new']):
        raise ValueError("El DataFrame de entrada debe contener las siguientes columnas: 'CH04', 'CH06', 'ESTADO', 'PONDERA_new'")

    if tipo == 'Aglomerado':
        var = 'AGLOMERADO'
    elif tipo == 'Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')

    numerador = df_temp[df_temp['ESTADO'] == 1].groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)
    denominador = df_temp.groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    tasa = numerador.div(denominador, fill_value=np.nan)
    tasa.columns = ['Varon', 'Mujer']

    size = df_temp[df_temp['ESTADO'] == 1].groupby(['CH04', var]).size().unstack(level=0)
    size.columns = ['N_v', 'N_m']

    p1 = tasa['Mujer']
    p2 = tasa['Varon']
    n1 = size['N_m']
    n2 = size['N_v']
    ratio = (p1 / p2).to_frame()
    ratio.rename(columns={0: 'Actividad productiva'}, inplace=True)

    # Calculate the standard error of the proportion ratio
    standard_error = np.sqrt(((1 / n1) * (p1 * (1 - p1))) + ((1 / n2) * (p2 * (1 - p2))))

    z = stats.norm.ppf((1 + confidence_level) / 2)
    margin_of_error = z * standard_error
    lower_bound = p1/p2 - margin_of_error
    upper_bound = p1/p2 + margin_of_error

    relative_standard_error = margin_of_error/(p1/p2)
    error = pd.concat([lower_bound, upper_bound, margin_of_error, relative_standard_error], axis=1)
    error.columns = ['LI', 'LS', 'ME', 'ER']

    return tasa*100, size, ratio*100, error*100

In [8]:
tasa, size, ratio, error = actividad_productiva(df_people_pool, tipo='Urbano', base='Individual', confidence_level=0.95)
empleo = pd.concat([tasa, size, ratio, error], axis=1)

## T2. Busqueda de trabajo
### Indicador: Ratio V/M en tasa de desempleo

In [9]:
def busqueda_trabajo(df, tipo='Aglomerado', base='Individual', confidence_level=0.95):
    
    """
    Calcula la actividad productiva, a partir de la proporción de tasas de desempleo entre hombres y mujeres, junto con los errores asociados.

    Args:
        df (DataFrame): DataFrame de entrada que contiene los datos de la EPH.
        tipo (str): Tipo de encuesta de la EPH, 'Aglomerado' o 'Urbano'. Por defecto: 'Aglomerado'.
        base (str): Tipo de base de la EPH, 'Individual' o 'Hogar'. Por defecto: 'Individual'.
        confidence_level (float): Nivel de confianza para el cálculo de errores. Por defecto: 0.95.

    Returns:
        tasa (DataFrame): DataFrame con las tasas de desempleo (M/V) desglosadas por Aglomerado o Provincia. Expresado en % [0-100]
        size (DataFrame): DataFrame con los numeros de observaciones utilizados para calcular tasas de desempleo (M/V). Expresado en valores absolutos
        ratio (DataFrame): DataFrame con las proporciones de tasas de desempleo (M/V). Expresado en % [0-100]
        error (DataFrame): DataFrame con los errores asociados a las proporciones. Expresado en % [0-100]. 
                            LI: Limite inferior, LS: Limite superior, ME: Margen de error, ER: Error relativo (CV)


    """
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA_new']):
        raise ValueError("El DataFrame de entrada debe contener las siguientes columnas: 'CH04', 'CH06', 'ESTADO', 'PONDERA_new'")

    if tipo == 'Aglomerado':
        var = 'AGLOMERADO'
    elif tipo == 'Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')

    numerador = df_temp[df_temp['ESTADO'] == 2].groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)
    df_estado = df_temp[(df_temp['ESTADO'] == 1) | (df_temp['ESTADO'] == 2)]
    denominador = df_estado.groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    tasa = numerador.div(denominador, fill_value=np.nan)
    tasa.columns = ['Varon', 'Mujer']

    size = df_temp[df_temp['ESTADO'] == 2].groupby(['CH04', var]).size().unstack(level=0)
    size.columns = ['N_v', 'N_m']

    p1 = tasa['Varon']
    p2 = tasa['Mujer']
    n1 = size['N_v']
    n2 = size['N_m']
    ratio = (p1 / p2).to_frame()
    ratio.rename(columns={0: 'Búsqueda de trabajo'}, inplace=True)

    # Calculate the standard error of the proportion ratio
    standard_error = np.sqrt(((1 / n1) * (p1 * (1 - p1))) + ((1 / n2) * (p2 * (1 - p2))))

    z = stats.norm.ppf((1 + confidence_level) / 2)
    margin_of_error = z * standard_error
    lower_bound = p1/p2 - margin_of_error
    upper_bound = p1/p2 + margin_of_error

    relative_standard_error = margin_of_error/(p1/p2)
    error = pd.concat([lower_bound, upper_bound, margin_of_error, relative_standard_error], axis=1)
    error.columns = ['LI', 'LS', 'ME', 'ER']

    return tasa*100, size, ratio*100, error*100

In [10]:
tasa, size, ratio, error = busqueda_trabajo(df_people_pool, tipo='Urbano', base='Individual', confidence_level=0.95)
desempleo = pd.concat([tasa, size, ratio, error], axis=1)

## T3. Acceso a derechos laborales
### Ratio M/V en tasa de empleo asalariado con descuento jubilatorio

In [11]:
def acceso_derechos_laborales(df, tipo='Aglomerado', base='Individual', confidence_level=0.95):
    
    """
    Calcula el acceso a derechos laborales, a partir de la proporción de tasa de registro de la relación laboral entre hombres y mujeres junto con los errores asociados.

    Args:
        df (DataFrame): DataFrame de entrada que contiene los datos de la EPH.
        tipo (str): Tipo de encuesta de la EPH, 'Aglomerado' o 'Urbano'. Por defecto: 'Aglomerado'.
        base (str): Tipo de base de la EPH, 'Individual' o 'Hogar'. Por defecto: 'Individual'.
        confidence_level (float): Nivel de confianza para el cálculo de errores. Por defecto: 0.95.

    Returns:
        tasa (DataFrame): DataFrame con las tasas de registro (M/V) desglosadas por Aglomerado o Provincia. Expresado en % [0-100]
        size (DataFrame): DataFrame con los numeros de observaciones utilizados para calcular tasas de registro (M/V). Expresado en valores absolutos
        ratio (DataFrame): DataFrame con las proporciones de tasas de registro (M/V). Expresado en % [0-100]
        error (DataFrame): DataFrame con los errores asociados a las proporciones. Expresado en % [0-100]. 
                            LI: Limite inferior, LS: Limite superior, ME: Margen de error, ER: Error relativo (CV)


    """
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA_new']):
        raise ValueError("El DataFrame de entrada debe contener las siguientes columnas: 'CH04', 'CH06', 'ESTADO', 'PONDERA_new'")

    if tipo == 'Aglomerado':
        var = 'AGLOMERADO'
    elif tipo == 'Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')

    df_estado = df_temp[(df_temp['ESTADO'] == 1) & (df_temp['CAT_OCUP'] == 3)]          # personas ocupadas asalariadas
    numerador = df_estado[df_estado['PP07H']==1].groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    denominador = df_estado.groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    tasa = numerador.div(denominador, fill_value=np.nan)
    tasa.columns = ['Varon', 'Mujer']

    size = df_estado[df_estado['PP07H']==1].groupby(['CH04', var]).size().unstack(level=0)
    size.columns = ['N_v', 'N_m']

    p1 = tasa['Mujer']
    p2 = tasa['Varon']
    n1 = size['N_m']
    n2 = size['N_v']
    ratio = (p1 / p2).to_frame()
    ratio.rename(columns={0: 'Acceso a derechos laborales'}, inplace=True)

    # Calculate the standard error of the proportion ratio
    standard_error = np.sqrt(((1 / n1) * (p1 * (1 - p1))) + ((1 / n2) * (p2 * (1 - p2))))

    z = stats.norm.ppf((1 + confidence_level) / 2)
    margin_of_error = z * standard_error
    lower_bound = p1/p2 - margin_of_error
    upper_bound = p1/p2 + margin_of_error

    relative_standard_error = margin_of_error/(p1/p2)
    error = pd.concat([lower_bound, upper_bound, margin_of_error, relative_standard_error], axis=1)
    error.columns = ['LI', 'LS', 'ME', 'ER']

    return tasa*100, size, ratio*100, error*100

In [12]:
tasa, size, ratio, error = acceso_derechos_laborales(df_people_pool, tipo='Urbano', base='Individual', confidence_level=0.95)
empleo_asalariado_con_descuento = pd.concat([tasa, size, ratio, error], axis=1)

In [13]:
df_temp = df_people_pool.query('CH06 >= 16 & CH06 < 65')
df_estado = df_temp[(df_temp['ESTADO'] == 1) & (df_temp['CAT_OCUP'] == 3)]      # Personas ocupadas asalariadas

resultados = df_estado.groupby(['CH04', 'PP07H', 'PP07I'])['PONDERA_new']\
            .sum().unstack(level='CH04', fill_value=0)                          # Filtrar y contar las combinaciones por género

resultados.columns = ['Varones', 'Mujeres']                                     # Renombrar las columnas y restablecer los índices

resultados = resultados.reset_index()

resultados['Total Fila'] = resultados['Varones'] + resultados['Mujeres']

resultados['Combinación'] = resultados.apply(lambda row: f"PP07H == {row['PP07H']} y PP07I == {row['PP07I']}", axis=1)

resultados.loc['Total Col'] = resultados.sum(numeric_only=True, axis=0)

resultados.loc[:, '% Varones'] = resultados['Varones']/resultados.loc['Total Col', 'Varones'] * 100
resultados.loc[:, '% Mujeres'] = resultados['Mujeres']/resultados.loc['Total Col', 'Mujeres'] * 100

resultados = resultados[['Combinación', 'Varones', '% Varones', 'Mujeres', '% Mujeres', 'Total Fila']]

tabla_pob_ocupada_asalariada = resultados.style.format({                            # Aplicar formato a los valores en la tabla
    'Varones': '{:,.0f}',
    '% Varones': '{:,.2f}',
    'Mujeres': '{:,.0f}',
    '% Mujeres': '{:,.2f}',
    'Total Fila': '{:,.0f}'
})

tabla_pob_ocupada_asalariada

## T4. Participación en el trabajo remunerado
### Ratio M/V en las horas trabajadas remuneradas

In [14]:
def participacion_trabajo_remunerado(df, tipo='Aglomerado', base='Individual', confidence_level=0.95):
    
    """
    Calcula el acceso a derechos laborales, a partir de la proporción en las horas trabajadas remuneradas entre hombres y mujeres junto con los errores asociados.

    Args:
        df (DataFrame): DataFrame de entrada que contiene los datos de la EPH.
        tipo (str): Tipo de encuesta de la EPH, 'Aglomerado' o 'Urbano'. Por defecto: 'Aglomerado'.
        base (str): Tipo de base de la EPH, 'Individual' o 'Hogar'. Por defecto: 'Individual'.
        confidence_level (float): Nivel de confianza para el cálculo de errores. Por defecto: 0.95.

    Returns:
        tasa (DataFrame): DataFrame con las horas trabajadas remuneradas (M/V) desglosadas por Aglomerado o Provincia. Expresado en % [0-100]
        size (DataFrame): DataFrame con los numeros de observaciones utilizados para calcular las horas trabajadas remuneradas (M/V). Expresado en valores absolutos
        ratio (DataFrame): DataFrame con las proporciones de las horas trabajadas remuneradas (M/V). Expresado en % [0-100]
        error (DataFrame): DataFrame con los errores asociados a las proporciones. Expresado en % [0-100]. 
                            LI: Limite inferior, LS: Limite superior, ME: Margen de error, ER: Error relativo (CV)


    """
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA_new']):
        raise ValueError("El DataFrame de entrada debe contener las siguientes columnas: 'CH04', 'CH06', 'ESTADO', 'PONDERA_new'")

    if tipo == 'Aglomerado':
        var = 'AGLOMERADO'
    elif tipo == 'Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')
    df_estado = df_temp[(df_temp['ESTADO'] == 1)]          # personas ocupadas 

    df_estado['Horas'] = df_estado[['PP3E_TOT', 'PP3F_TOT']].max(axis=1)
    #numerador = df_estado[(df_estado['PP3E_TOT']>0) & (df_estado['PP3E_TOT']!=999)].groupby(['CH04', var])['PP3E_TOT'].sum().unstack(level=0)
    numerador = df_estado[(df_estado['Horas']>0) & (df_estado['Horas']!=999)].groupby(['CH04', var])['Horas'].sum().unstack(level=0)
    #denominador = df_estado[(df_estado['PP3E_TOT']>0) & (df_estado['PP3E_TOT']!=999)].groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)
    denominador = df_estado[(df_estado['Horas']>0) & (df_estado['Horas']!=999)].groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    tasa = numerador.div(denominador, fill_value=np.nan)
    tasa.columns = ['Varon', 'Mujer']

    size = df_estado[(df_estado['Horas']>0) & (df_estado['Horas']!=999)].groupby(['CH04', var]).size().unstack(level=0)
    size.columns = ['N_v', 'N_m']

    p1 = tasa['Mujer']
    p2 = tasa['Varon']
    n1 = size['N_m']
    n2 = size['N_v']
    ratio = (p1 / p2).to_frame()
    ratio.rename(columns={0: 'Participacion trabajo remunerado'}, inplace=True)

    # Calculate the standard error of the proportion ratio
    standard_error = np.sqrt(((1 / n1) * (p1 * (1 - p1))) + ((1 / n2) * (p2 * (1 - p2))))

    z = stats.norm.ppf((1 + confidence_level) / 2)
    margin_of_error = z * standard_error
    lower_bound = p1/p2 - margin_of_error
    upper_bound = p1/p2 + margin_of_error

    relative_standard_error = margin_of_error/(p1/p2)
    error = pd.concat([lower_bound, upper_bound, margin_of_error, relative_standard_error], axis=1)
    error.columns = ['LI', 'LS', 'ME', 'ER']

    return tasa*100, size, ratio*100, error*100

In [26]:
del df_estado

In [27]:
df_temp = df_people_pool.query('CH06 >= 16 & CH06 < 65')
df_estado = df_temp[(df_temp['ESTADO'] == 1)]          # personas ocupadas
df_estado['PP3F_TOT'] = df_estado['PP3F_TOT'].str.replace(',', '.').astype(float)

In [34]:
veamos = df_estado[['PP3E_TOT', 'PP3F_TOT']][(df_estado['PP3E_TOT'] != 999) & (df_estado['PP3F_TOT'] != 999)].max(axis=1)

In [31]:
aver = df_estado[['PP3E_TOT', 'PP3F_TOT', 'Horas']]

In [ ]:
df_estado['Horas'] = df_estado[['PP3E_TOT', 'PP3F_TOT']].max(axis=1)

# numerador = df_estado[(df_estado['PP3E_TOT']>0) & (df_estado['PP3E_TOT']!=999)].groupby(['CH04', var])['PP3E_TOT'].sum().unstack(level=0)
numerador = df_estado[(df_estado['Horas']>0) & (df_estado['Horas']!=999)].groupby(['CH04', var])['Horas'].sum().unstack(level=0)
# denominador = df_estado[(df_estado['PP3E_TOT']>0) & (df_estado['PP3E_TOT']!=999)].groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)
denominador = df_estado[(df_estado['Horas']>0) & (df_estado['Horas']!=999)].groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

In [15]:
tasa, size, ratio, error = participacion_trabajo_remunerado(df_people_pool, tipo='Urbano', base='Individual', confidence_level=0.95)
horas_remuneradas = pd.concat([tasa, size, ratio, error], axis=1)
horas_remuneradas

,Varon,Mujer,N_v,N_m,Participacion trabajo remunerado,LI,LS,ME,ER
PROVINCIA,,,,,,,,,
2,3.432555,2.916838,629,568,84.975709,82.990881,86.960538,1.984828,2.335760
6,4.160159,3.458459,3847,3114,83.132875,82.232865,84.032885,0.900010,1.082616
10,54.764366,43.321178,992,766,79.104683,74.424203,83.785163,4.680480,5.916818
14,9.053359,7.711154,1867,1436,85.174507,83.277697,87.071316,1.896810,2.226969
18,17.474204,14.617914,883,625,83.654251,79.919954,87.388547,3.734297,4.463965
22,13.978736,12.744291,824,601,91.169122,87.603508,94.734736,3.565614,3.910988
26,36.093737,31.033598,1133,938,85.980562,81.907989,90.053135,4.072573,4.736621
30,22.276719,16.630567,1465,1069,74.654475,71.568640,77.740311,3.085836,4.133491
34,33.362570,29.491209,830,447,88.396095,83.089540,93.702651,5.306556,6.003156
38,33.597525,29.805499,1351,1156,88.713379,85.067011,92.359747,3.646368,4.110280
42,36.301489,30.421957,582,506,83.803604,78.206092,89.401116,5.597512,6.679321
46,49.733926,40.826740,1072,807,82.090322,77.567244,86.613401,4.523079,5.509880
50,13.055435,10.599564,1274,933,81.188900,78.482568,83.895231,2.706331,3.333376
54,17.635930,14.916540,938,716,84.580400,81.008564,88.152235,3.571835,4.223006
58,26.489407,21.725613,806,673,82.016229,77.658766,86.373691,4.357463,5.312928
62,30.079304,26.479625,1078,853,88.032704,84.000092,92.065316,4.032612,4.580811
66,22.088224,17.796685,1528,1272,80.570920,77.613790,83.528050,2.957130,3.670221
70,28.169155,20.628642,1226,778,73.231314,69.433357,77.029271,3.797957,5.186247
74,43.239691,33.255528,1053,744,76.909726,72.391539,81.427914,4.518187,5.874663
78,26.792015,23.388162,557,484,87.295270,82.027584,92.562956,5.267686,6.034332
82,9.939683,8.371801,1783,1429,84.226030,82.228344,86.223716,1.997686,2.371815
86,29.904656,24.241444,1147,793,81.062439,77.072858,85.052020,3.989581,4.921615
90,18.191907,13.749852,1372,1025,75.582244,72.647707,78.516781,2.934537,3.882575
94,41.840256,39.877989,405,275,95.310098,87.788640,102.831557,7.521459,7.891565

## Pluriempleo

In [36]:
df_temp = df_people_pool.query('CH06 >= 16 & CH06 < 65')
df_estado = df_temp[(df_temp['ESTADO'] == 1) & (df_temp['CAT_OCUP'] != 1)& (df_temp['CAT_OCUP'] != 4)]          # personas ocupadas cuentapropistas, obreros o empleados

# Filtrar y contar las combinaciones por género
resultados = df_estado.groupby(['CH04', 'CAT_OCUP', 'PP03C'])['PONDERA_new'].sum().unstack(level='CH04', fill_value=0)

resultados.columns = ['Varones', 'Mujeres']
resultados = resultados.reset_index()

resultados['Total Fila'] = resultados['Varones'] + resultados['Mujeres']
resultados['Combinación'] = resultados.apply(lambda row: f"CAT_OCUP == {row['CAT_OCUP']}, PP03C == {row['PP03C']}", axis=1)

resultados.loc['Total Col'] = resultados.sum(numeric_only=True, axis=0)
resultados.loc[:, '% Varones'] = resultados['Varones']/resultados.loc['Total Col', 'Varones'] * 100
resultados.loc[:, '% Mujeres'] = resultados['Mujeres']/resultados.loc['Total Col', 'Mujeres'] * 100

resultados = resultados[['Combinación', 'Varones', '% Varones', 'Mujeres', '% Mujeres', 'Total Fila']]

# Aplicar formato a los valores en la tabla
tabla_pob_ocupada = resultados.style.format({
    'Varones': '{:,.0f}',
    '% Varones': '{:,.2f}',
    'Mujeres': '{:,.0f}',
    '% Mujeres': '{:,.2f}',
    'Total Fila': '{:,.0f}'
})

tabla_pob_ocupada

# [P21 mean M y V, TOT_P12 mean M y V]

### Analisis dfs

In [26]:
# cod_provincia
dict_cod_provincia = {2: "CABA",
 6: "Buenos Aires",
 10: "Catamarca",
 14: "Córdoba",
 18: "Corrientes",
 22: "Chaco",
 26: "Chubut",
 30: "Entre Ríos",
 34: "Formosa",
 38: "Jujuy",
 42: "La Pampa",
 46: "La Rioja",
 50: "Mendoza",
 54: "Misiones",
 58: "Neuquén",
 62: "Río Negro",
 66: "Salta",
 70: "San Juan",
 74: "San Luis",
 78: "Santa Cruz",
 82: "Santa Fe",
 86: "Santiago del Estero",
 90: "Tucumán",
 94: "TdF"}

In [27]:
empleo.index = empleo.index.map(dict_cod_provincia)
desempleo.index = desempleo.index.map(dict_cod_provincia)
empleo_asalariado_con_descuento.index = empleo_asalariado_con_descuento.index.map(dict_cod_provincia)
horas_remuneradas.index = horas_remuneradas.index.map(dict_cod_provincia)

### Cargo cosas para plots

In [28]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from plotly.offline import plot

In [29]:
# Definimos colores fundar
fundar_colores_primarios = ['#7BB5C4', '#9FC1AD', '#D3D3E0',  '#8d9bff', '#FF9750', '#FFD900',]
fundar_colores_secundarios = ['#B5E0EA', '#B3B3B3', '#848279', '#AFA36E', '#5D896F', '#9C9CBC', '#E27124']
fundar_white = '#F5F5F5'
fundar_black = '#151515'

### Analisis consistencia T2
ESTADO == 3

In [30]:
# Inactividad
def inactividad(df, tipo='Aglomerado', base='Individual', confidence_level=0.95):

    if tipo == 'Aglomerado':
        var = 'AGLOMERADO'
    elif tipo == 'Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')

    numerador = df_temp[df_temp['ESTADO'] == 3].groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)
    denominador = df_temp.groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    tasa = numerador.div(denominador, fill_value=np.nan)
    tasa.columns = ['Varon', 'Mujer']

    size = df_temp[df_temp['ESTADO'] == 3].groupby(['CH04', var]).size().unstack(level=0)
    size.columns = ['N_v', 'N_m']

    p1 = tasa['Varon']
    p2 = tasa['Mujer']
    n1 = size['N_v']
    n2 = size['N_m']
    ratio = (p1 / p2).to_frame()
    ratio.rename(columns={0: 'Inactividad'}, inplace=True)

    # Calculate the standard error of the proportion ratio
    standard_error = np.sqrt(((1 / n1) * (p1 * (1 - p1))) + ((1 / n2) * (p2 * (1 - p2))))

    z = stats.norm.ppf((1 + confidence_level) / 2)
    margin_of_error = z * standard_error
    lower_bound = p1/p2 - margin_of_error
    upper_bound = p1/p2 + margin_of_error

    relative_standard_error = margin_of_error/(p1/p2)
    error = pd.concat([lower_bound, upper_bound, margin_of_error, relative_standard_error], axis=1)
    error.columns = ['LI', 'LS', 'ME', 'ER']

    return tasa*100, size, ratio*100, error*100

In [31]:
tasa, size, ratio, error = inactividad(df_people_pool, tipo='Urbano', base='Individual', confidence_level=0.95)
ratio_inactividad = pd.concat([tasa, size, ratio, error], axis=1)
ratio_inactividad

,Varon,Mujer,N_v,N_m,Inactividad,LI,LS,ME,ER
PROVINCIA,,,,,,,,,
2,15.764308,24.910792,131,228,63.283043,54.889256,71.676830,8.393787,13.263880
6,17.212656,37.113052,1014,2193,46.378982,43.298920,49.459043,3.080062,6.641073
10,26.625660,42.521526,359,645,62.616896,56.661974,68.571818,5.954922,9.510089
14,14.916865,38.001539,430,947,39.253318,34.682162,43.824474,4.571156,11.645273
18,23.454232,49.132665,322,654,47.736536,41.728354,53.744717,6.008181,12.586128
22,22.672399,53.108063,280,653,42.691067,36.469879,48.912255,6.221188,14.572577
26,22.534744,42.165967,384,718,53.442967,47.919343,58.966592,5.523625,10.335550
30,21.887972,42.574016,450,1010,51.411574,46.523433,56.299715,4.888141,9.507861
34,31.324823,66.728604,405,900,46.943620,41.477276,52.409965,5.466345,11.644489
38,23.430055,42.661520,435,897,54.920816,49.790629,60.051003,5.130187,9.341061
42,21.122232,39.425208,167,346,53.575449,45.523185,61.627712,8.052264,15.029764
46,21.794911,42.722324,338,680,51.015274,45.253713,56.776835,5.761561,11.293796
50,14.715104,38.619783,279,685,38.102504,32.573219,43.631789,5.529285,14.511605
54,19.923290,44.661164,263,610,44.609877,38.375540,50.844215,6.234338,13.975240
58,21.838505,41.268629,261,549,52.917931,46.430826,59.405036,6.487105,12.258804
62,21.574412,43.098750,338,661,50.058091,44.271724,55.844458,5.786367,11.559304
66,22.320733,42.280808,538,982,52.791643,48.109038,57.474247,4.682604,8.869973
70,19.831530,49.652618,332,876,39.940552,34.522221,45.358882,5.418331,13.565988
74,21.670817,43.613437,327,660,49.688395,43.835653,55.541138,5.852742,11.778892
78,23.676774,39.174009,199,353,60.440009,52.641672,68.238345,7.798337,12.902607
82,18.982554,36.341123,486,980,52.234363,47.627368,56.841357,4.606995,8.819854
86,22.486966,53.157673,379,913,42.302390,36.997315,47.607464,5.305075,12.540839
90,21.533259,44.635702,426,945,48.242231,43.214110,53.270352,5.028121,10.422654
94,23.064030,44.627876,127,274,51.680770,42.282986,61.078554,9.397784,18.184296

In [91]:
# Create bar traces
bar_trace1 = go.Bar(
    x=empleo.index,
    y=desempleo['Búsqueda de trabajo'],
    name='Desempleo',
    marker_color=fundar_colores_primarios[0]
)

bar_trace2 = go.Bar(
    x=empleo.index,
    y=ratio_inactividad['Inactividad'],
    name='Inactividad',
    marker_color=fundar_colores_primarios[1]
)

# Create a layout
layout = go.Layout(
    title='Desempleo e Inactividad',
    barmode='group',
    plot_bgcolor='rgba(0,0,0,0)'
)

# Create a Figure
fig = go.Figure(data=[bar_trace1, bar_trace2], layout=layout)

fig.add_shape(
    type='line',
    x0=empleo.index[0],
    y0=100,
    x1=empleo.index[-1],
    y1=100,
    line=dict(
        color='black',
        width=1,
        dash='dash'
    ),
)
#fig.update_yaxes(range=[0, 200])

# Save the plot as an HTML file
file_path = '/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/figs/'
filename = 'desempleo_e_inactividad.html'
plot(fig, filename=file_path + filename, auto_open=False)

'/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/figs/desempleo_e_inactividad.html'

### Analisis consistencia T3
PP07G2 == 1 Aguinaldo
PP07G4 == 1 OS

In [92]:
# T3 bis. 
def acceso_aguinaldo(df, tipo='Aglomerado', base='Individual', confidence_level=0.95):

    if tipo == 'Aglomerado':
        var = 'AGLOMERADO'
    elif tipo == 'Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')

    df_estado = df_temp[(df_temp['ESTADO'] == 1) & (df_temp['CAT_OCUP'] == 3)]          # personas ocupadas asalariadas
    numerador = df_estado[df_estado['PP07G2']==1].groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    denominador = df_estado.groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    tasa = numerador.div(denominador, fill_value=np.nan)
    tasa.columns = ['Varon', 'Mujer']

    size = df_estado[df_estado['PP07H']==1].groupby(['CH04', var]).size().unstack(level=0)
    size.columns = ['N_v', 'N_m']

    p1 = tasa['Mujer']
    p2 = tasa['Varon']
    n1 = size['N_m']
    n2 = size['N_v']
    ratio = (p1 / p2).to_frame()
    ratio.rename(columns={0: 'Acceso a aguinaldo'}, inplace=True)

    # Calculate the standard error of the proportion ratio
    standard_error = np.sqrt(((1 / n1) * (p1 * (1 - p1))) + ((1 / n2) * (p2 * (1 - p2))))

    z = stats.norm.ppf((1 + confidence_level) / 2)
    margin_of_error = z * standard_error
    lower_bound = p1/p2 - margin_of_error
    upper_bound = p1/p2 + margin_of_error

    relative_standard_error = margin_of_error/(p1/p2)
    error = pd.concat([lower_bound, upper_bound, margin_of_error, relative_standard_error], axis=1)
    error.columns = ['LI', 'LS', 'ME', 'ER']

    return tasa*100, size, ratio*100, error*100

def acceso_obra_social(df, tipo='Aglomerado', base='Individual', confidence_level=0.95):

    if tipo == 'Aglomerado':
        var = 'AGLOMERADO'
    elif tipo == 'Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')

    df_estado = df_temp[(df_temp['ESTADO'] == 1) & (df_temp['CAT_OCUP'] == 3)]          # personas ocupadas asalariadas
    numerador = df_estado[df_estado['PP07G4']==1].groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    denominador = df_estado.groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    tasa = numerador.div(denominador, fill_value=np.nan)
    tasa.columns = ['Varon', 'Mujer']

    size = df_estado[df_estado['PP07H']==1].groupby(['CH04', var]).size().unstack(level=0)
    size.columns = ['N_v', 'N_m']

    p1 = tasa['Mujer']
    p2 = tasa['Varon']
    n1 = size['N_m']
    n2 = size['N_v']
    ratio = (p1 / p2).to_frame()
    ratio.rename(columns={0: 'Acceso a OS'}, inplace=True)

    # Calculate the standard error of the proportion ratio
    standard_error = np.sqrt(((1 / n1) * (p1 * (1 - p1))) + ((1 / n2) * (p2 * (1 - p2))))

    z = stats.norm.ppf((1 + confidence_level) / 2)
    margin_of_error = z * standard_error
    lower_bound = p1/p2 - margin_of_error
    upper_bound = p1/p2 + margin_of_error

    relative_standard_error = margin_of_error/(p1/p2)
    error = pd.concat([lower_bound, upper_bound, margin_of_error, relative_standard_error], axis=1)
    error.columns = ['LI', 'LS', 'ME', 'ER']

    return tasa*100, size, ratio*100, error*100

In [93]:
tasa, size, ratio, error = acceso_aguinaldo(df_people_pool, tipo='Urbano', base='Individual', confidence_level=0.95)
empleo_asalariado_con_aguinaldo = pd.concat([tasa, size, ratio, error], axis=1)
tasa, size, ratio, error = acceso_obra_social(df_people_pool, tipo='Urbano', base='Individual', confidence_level=0.95)
empleo_asalariado_con_obra_social = pd.concat([tasa, size, ratio, error], axis=1)

In [94]:
# Create bar traces
bar_trace1 = go.Bar(
    x=empleo.index,
    y=empleo_asalariado_con_descuento['Acceso a derechos laborales'],
    name='Descuento jubilatorio',
    marker_color=fundar_colores_primarios[0]
)

bar_trace2 = go.Bar(
    x=empleo.index,
    y=empleo_asalariado_con_aguinaldo['Acceso a aguinaldo'],
    name='Aguinaldo',
    marker_color=fundar_colores_primarios[1]
)

bar_trace3 = go.Bar(
    x=empleo.index,
    y=empleo_asalariado_con_obra_social['Acceso a OS'],
    name='Obra Social',
    marker_color=fundar_colores_primarios[2]
)


# Create a layout
layout = go.Layout(
    title='Accesos a derechos laborales',
    barmode='group',
    plot_bgcolor='rgba(0,0,0,0)'
)

# Create a Figure
fig = go.Figure(data=[bar_trace1, bar_trace2, bar_trace3], layout=layout)

fig.add_shape(
    type='line',
    x0=empleo.index[0],
    y0=100,
    x1=empleo.index[-1],
    y1=100,
    line=dict(
        color='black',
        width=1,
        dash='dash'
    ),
)
fig.update_yaxes(range=[0, 150])

# Save the plot as an HTML file
file_path = '/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/figs/'
filename = 'consistencia_accesos_laborales.html'
plot(fig, filename=file_path + filename, auto_open=False)

'/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/figs/consistencia_accesos_laborales.html'

### Plot insercion laboral

In [122]:

# Define the error bars for each trace
error_y1 = dict(
    type='data',
    symmetric=False,
    array=empleo['LS'] - empleo['Actividad productiva'],
    arrayminus=empleo['Actividad productiva'] - empleo['LI'],
    visible=True,
    color=fundar_black,
    thickness=0.7
)

error_y2 = dict(
    type='data',
    symmetric=False,
    array=desempleo['LS'] - desempleo['Búsqueda de trabajo'],
    arrayminus=desempleo['Búsqueda de trabajo'] - desempleo['LI'],
    visible=True,
    color=fundar_black,
    thickness=0.7
)

error_y3 = dict(
    type='data',
    symmetric=False,
    array=empleo_asalariado_con_descuento['LS'] - empleo_asalariado_con_descuento['Acceso a derechos laborales'],
    arrayminus=empleo_asalariado_con_descuento['Acceso a derechos laborales'] - empleo_asalariado_con_descuento['LI'],
    visible=True,
    color=fundar_black,
    thickness=0.7
)

error_y4 = dict(
    type='data',
    symmetric=False,
    array=horas_remuneradas['LS'] - horas_remuneradas['Participacion trabajo remunerado'],
    arrayminus=horas_remuneradas['Participacion trabajo remunerado'] - horas_remuneradas['LI'],
    visible=True,
    color=fundar_black,
    thickness=0.7
)

# Create bar traces with error bars
bar_trace1 = go.Bar(
    x=empleo.index,
    y=empleo['Actividad productiva'],
    name='T1. Actividad productiva',
    marker_color=fundar_colores_primarios[0],
    error_y=error_y1
)

bar_trace2 = go.Bar(
    x=empleo.index,
    y=desempleo['Búsqueda de trabajo'],
    name='T2. Búsqueda de trabajo',
    marker_color=fundar_colores_primarios[1],
    error_y=error_y2
)

bar_trace3 = go.Bar(
    x=empleo.index,
    y=empleo_asalariado_con_descuento['Acceso a derechos laborales'],
    name='T3. Acceso a derechos laborales',
    marker_color=fundar_colores_primarios[2],
    error_y=error_y3
)

bar_trace4 = go.Bar(
    x=empleo.index,
    y=horas_remuneradas['Participacion trabajo remunerado'],
    name='T4. Participacion trabajo remunerado',
    marker_color=fundar_colores_primarios[3],
    error_y=error_y4
)


# Create scatter traces for the points
scatter_trace1 = go.Scatter(
    x=empleo.index,
    y=empleo['ER'],
    name='T1. ER',
    mode='markers',
    marker=dict(
        color=fundar_black,
        size=8
    ),
    yaxis='y2'
)

scatter_trace2 = go.Scatter(
    x=empleo.index,
    y=desempleo['ER'],
    name='T2. ER',
    mode='markers',
    marker=dict(
        color=fundar_black,
        size=8
    ),
    yaxis='y2'
)

scatter_trace3 = go.Scatter(
    x=empleo.index,
    y=empleo_asalariado_con_descuento['ER'],
    name='T3. ER',
    mode='markers',
    marker=dict(
        color=fundar_black,
        size=8
    ),
    yaxis='y2'
)

scatter_trace4 = go.Scatter(
    x=empleo.index,
    y=horas_remuneradas['ER'],
    name='T4. ER',
    mode='markers',
    marker=dict(
        color=fundar_black,
        size=8
    ),
    yaxis='y2'
)
# Create a layout
layout = go.Layout(
    title='Insercion laboral',
    barmode='group',
    plot_bgcolor='rgba(0,0,0,0)',
    legend=dict(y=1.1, orientation='h'),
    yaxis=dict(title='Actividad', range=[0, 170]),
    scattermode="group",
    yaxis2=dict(title='ER', overlaying='y', side='right', range=[0, 70])
)

fig = go.Figure(data=[bar_trace1, bar_trace2, bar_trace3, bar_trace4,
                      scatter_trace1, scatter_trace2, scatter_trace3, scatter_trace4],
                layout=layout)

fig.add_shape(
    type='line',
    x0=empleo.index[0],
    y0=100,
    x1=empleo.index[-1],
    y1=100,
    line=dict(
        color='black',
        width=1,
        dash='dash'
    ),
)

# Save the plot as an HTML file
file_path = '/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/figs/'
filename = 'actividad_productiva.html'
plot(fig, filename=file_path + filename, auto_open=False)

'/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/figs/actividad_productiva.html'