In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Definimos path
pathdata = '/home/daniu/Documentos/fundar/indice-mercado-trabajo-ingresos/'
pathdata = '/Users/danielarisaro/Documents/Fundar/indice-mercado-trabajo-ingresos/'
pathdata = '/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/'

In [3]:
df_people_pool = pd.read_csv(pathdata + 'data_output/Base_pool_individuos_solo_con_replicas_actuales.csv', low_memory=False, index_col=0)
df_houses_pool = pd.read_csv(pathdata + 'data_output/Base_pool_hogares_solo_con_replicas_actuales.csv', low_memory=False, index_col=0)

In [4]:
## Defino funciones dimension mercado de trabajo e ingresos

# Componente: Inserción laboral

# T1. 
# Variable: Actividad productiva
# Indicador: Ratio M/V en tasa de empleo

def actividad_productiva(df, tipo='Aglomerado', base='Individual', confidence_level=0.95):
    
    """
    Calcula la actividad productiva, a partir de la proporción de tasas de empleo entre hombres y mujeres, junto con los errores asociados.

    Args:
        df (DataFrame): DataFrame de entrada que contiene los datos de la EPH.
        tipo (str): Tipo de encuesta de la EPH, 'Aglomerado' o 'Urbano'. Por defecto: 'Aglomerado'.
        base (str): Tipo de base de la EPH, 'Individual' o 'Hogar'. Por defecto: 'Individual'.
        confidence_level (float): Nivel de confianza para el cálculo de errores. Por defecto: 0.95.

    Returns:
        tasa (DataFrame): DataFrame con las tasas de empleo (M/V) desglosadas por Aglomerado o Provincia. Expresado en % [0-100]
        size (DataFrame): DataFrame con los numeros de observaciones utilizados para calcular tasas de empleo (M/V). Expresado en valores absolutos
        ratio (DataFrame): DataFrame con las proporciones de tasas de empleo (M/V). Expresado en % [0-100]
        error (DataFrame): DataFrame con los errores asociados a las proporciones. Expresado en % [0-100]. 
                            LI: Limite inferior, LS: Limite superior, ME: Margen de error, ER: Error relativo (CV)


    """
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA_new']):
        raise ValueError("El DataFrame de entrada debe contener las siguientes columnas: 'CH04', 'CH06', 'ESTADO', 'PONDERA_new'")

    if tipo == 'Aglomerado':
        var = 'AGLOMERADO'
    elif tipo == 'Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')

    numerador = df_temp[df_temp['ESTADO'] == 1].groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)
    denominador = df_temp.groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    tasa = numerador.div(denominador, fill_value=np.nan)
    tasa.columns = ['Varon', 'Mujer']

    size = df_temp[df_temp['ESTADO'] == 1].groupby(['CH04', var]).size().unstack(level=0)
    size.columns = ['N_v', 'N_m']

    p1 = tasa['Mujer']
    p2 = tasa['Varon']
    n1 = size['N_m']
    n2 = size['N_v']
    ratio = (p1 / p2).to_frame()
    ratio.rename(columns={0: 'Actividad productiva'}, inplace=True)

    # Calculate the standard error of the proportion ratio
    standard_error = np.sqrt(((1 / n1) * (p1 * (1 - p1))) + ((1 / n2) * (p2 * (1 - p2))))

    z = stats.norm.ppf((1 + confidence_level) / 2)
    margin_of_error = z * standard_error
    lower_bound = p1/p2 - margin_of_error
    upper_bound = p1/p2 + margin_of_error

    relative_standard_error = margin_of_error/(p1/p2)
    error = pd.concat([lower_bound, upper_bound, margin_of_error, relative_standard_error], axis=1)
    error.columns = ['LI', 'LS', 'ME', 'ER']

    return tasa*100, size, ratio*100, error*100

In [5]:
tasa, size, ratio, error = actividad_productiva(df_people_pool, tipo='Urbano', base='Individual', confidence_level=0.95)

empleo = pd.concat([tasa, size, ratio, error], axis=1)

empleo

,Varon,Mujer,N_v,N_m,Actividad productiva,LI,LS,ME,ER
PROVINCIA,,,,,,,,,
2,78.710304,70.957452,642,594,90.150144,85.317535,94.982752,4.832609,5.360622
6,75.153672,55.778992,3985,3250,74.219915,72.048389,76.391442,2.171526,2.925800
10,69.529090,52.433530,1026,813,75.412363,70.971985,79.852740,4.440377,5.888129
14,79.622598,54.541412,1906,1487,68.499915,65.389416,71.610414,3.110499,4.540880
18,72.778626,48.508609,924,661,66.652274,61.882320,71.422227,4.769953,7.156475
22,73.566052,44.943799,829,608,61.093124,56.128739,66.057509,4.964385,8.125930
26,73.485409,55.669633,1176,973,75.756036,71.742573,79.769499,4.013463,5.297879
30,73.334174,51.223948,1496,1100,69.850038,66.142374,73.557702,3.707664,5.308034
34,64.272893,32.303294,841,459,50.259593,44.893889,55.625296,5.365703,10.675979
38,72.902008,54.049903,1390,1199,74.140486,70.477600,77.803371,3.662885,4.940466
42,70.858900,53.944254,595,528,76.129116,70.524916,81.733316,5.604200,7.361441
46,74.650652,54.413272,1110,866,72.890551,68.701011,77.080090,4.189540,5.747713
50,80.900786,54.948908,1315,994,67.921353,64.168924,71.673783,3.752429,5.524668
54,77.762103,52.366023,961,745,67.341315,62.894471,71.788160,4.446844,6.603442
58,72.833173,54.937361,821,693,75.429036,70.635183,80.222890,4.793854,6.355448
62,74.360535,53.396117,1086,869,71.807064,67.594654,76.019473,4.212410,5.866289
66,71.951918,53.111222,1570,1318,73.814881,70.322573,77.307189,3.492308,4.731171
70,77.192716,48.269992,1245,810,62.531797,58.375552,66.688042,4.156245,6.646611
74,76.637022,55.043273,1081,771,71.823346,67.499920,76.146771,4.323425,6.019526
78,70.611539,58.283464,582,507,82.540990,76.873608,88.208372,5.667382,6.866143
82,76.659366,58.942788,1828,1476,76.889219,73.717708,80.060730,3.171511,4.124780
86,74.587661,45.716779,1164,813,61.292683,57.052245,65.533121,4.240438,6.918343
90,72.632914,50.454657,1418,1080,69.465279,65.686855,73.243702,3.778424,5.439298
94,73.586100,52.136699,413,295,70.851287,63.739727,77.962847,7.111560,10.037305

In [6]:
# Componente: Inserción laboral

# T2. 
# Variable: Busqueda de trabajo
# Indicador: Ratio M/V en tasa de desempleo

def busqueda_trabajo(df, tipo='Aglomerado', base='Individual', confidence_level=0.95):
    
    """
    Calcula la actividad productiva, a partir de la proporción de tasas de desempleo entre hombres y mujeres, junto con los errores asociados.

    Args:
        df (DataFrame): DataFrame de entrada que contiene los datos de la EPH.
        tipo (str): Tipo de encuesta de la EPH, 'Aglomerado' o 'Urbano'. Por defecto: 'Aglomerado'.
        base (str): Tipo de base de la EPH, 'Individual' o 'Hogar'. Por defecto: 'Individual'.
        confidence_level (float): Nivel de confianza para el cálculo de errores. Por defecto: 0.95.

    Returns:
        tasa (DataFrame): DataFrame con las tasas de desempleo (M/V) desglosadas por Aglomerado o Provincia. Expresado en % [0-100]
        size (DataFrame): DataFrame con los numeros de observaciones utilizados para calcular tasas de desempleo (M/V). Expresado en valores absolutos
        ratio (DataFrame): DataFrame con las proporciones de tasas de desempleo (M/V). Expresado en % [0-100]
        error (DataFrame): DataFrame con los errores asociados a las proporciones. Expresado en % [0-100]. 
                            LI: Limite inferior, LS: Limite superior, ME: Margen de error, ER: Error relativo (CV)


    """
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA_new']):
        raise ValueError("El DataFrame de entrada debe contener las siguientes columnas: 'CH04', 'CH06', 'ESTADO', 'PONDERA_new'")

    if tipo == 'Aglomerado':
        var = 'AGLOMERADO'
    elif tipo == 'Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')

    numerador = df_temp[df_temp['ESTADO'] == 2].groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)
    df_estado = df_temp[(df_temp['ESTADO'] == 1) | (df_temp['ESTADO'] == 2)]
    denominador = df_estado.groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    tasa = numerador.div(denominador, fill_value=np.nan)
    tasa.columns = ['Varon', 'Mujer']

    size = df_temp[df_temp['ESTADO'] == 2].groupby(['CH04', var]).size().unstack(level=0)
    size.columns = ['N_v', 'N_m']

    p1 = tasa['Varon']
    p2 = tasa['Mujer']
    n1 = size['N_v']
    n2 = size['N_m']
    ratio = (p1 / p2).to_frame()
    ratio.rename(columns={0: 'Búsqueda de trabajo'}, inplace=True)

    # Calculate the standard error of the proportion ratio
    standard_error = np.sqrt(((1 / n1) * (p1 * (1 - p1))) + ((1 / n2) * (p2 * (1 - p2))))

    z = stats.norm.ppf((1 + confidence_level) / 2)
    margin_of_error = z * standard_error
    lower_bound = p1/p2 - margin_of_error
    upper_bound = p1/p2 + margin_of_error

    relative_standard_error = margin_of_error/(p1/p2)
    error = pd.concat([lower_bound, upper_bound, margin_of_error, relative_standard_error], axis=1)
    error.columns = ['LI', 'LS', 'ME', 'ER']

    return tasa*100, size, ratio*100, error*100

In [7]:
tasa, size, ratio, error = busqueda_trabajo(df_people_pool, tipo='Urbano', base='Individual', confidence_level=0.95)

desempleo = pd.concat([tasa, size, ratio, error], axis=1)

desempleo

,Varon,Mujer,N_v,N_m,Búsqueda de trabajo,LI,LS,ME,ER
PROVINCIA,,,,,,,,,
2,6.270256,5.029093,39,36,124.679654,114.246343,135.112966,10.433311,8.368095
6,8.252182,10.440042,301,342,79.043576,74.553036,83.534116,4.490540,5.681094
10,4.901536,8.311059,55,59,58.976074,49.911190,68.040958,9.064884,15.370443
14,6.333984,12.016204,129,164,52.712020,46.198097,59.225943,6.513923,12.357567
18,4.921424,4.541953,43,27,108.354805,98.181874,118.527737,10.172931,9.388537
22,4.864433,4.154527,44,27,117.087538,107.235796,126.939280,9.851742,8.413997
26,4.906585,3.513886,71,43,139.634140,132.182078,147.086201,7.452062,5.336848
30,5.460783,10.521391,94,96,51.901716,44.235584,59.567849,7.666133,14.770480
34,5.816408,2.355315,50,13,246.948214,236.457868,257.438559,10.490346,4.247994
38,4.790309,5.735375,71,70,83.522159,76.150196,90.894122,7.371963,8.826356
42,7.799777,9.221885,49,42,84.578984,73.048733,96.109235,11.530251,13.632524
46,4.545020,5.000909,50,40,90.883878,81.998096,99.769660,8.885782,9.777072
50,5.097122,10.477820,68,104,48.646780,40.774431,56.519130,7.872350,16.182673
54,2.890487,5.372020,34,38,53.806334,44.690256,62.922413,9.116078,16.942389
58,6.214627,6.024897,55,48,103.149106,93.874366,112.423845,9.274740,8.991585
62,5.159672,6.035631,54,47,85.486870,76.477721,94.496019,9.009149,10.538634
66,6.729380,7.715111,129,99,87.223380,80.417667,94.029094,6.805714,7.802625
70,3.536620,4.097417,40,44,86.313397,78.123748,94.503046,8.189649,9.488271
74,2.160320,2.382287,27,22,90.682599,82.275531,99.089667,8.407068,9.270872
78,6.451859,3.900179,41,25,165.424697,154.740966,176.108429,10.683731,6.458365
82,5.375994,7.204119,140,134,74.623895,68.868653,80.379137,5.755242,7.712332
86,3.774041,2.402846,53,23,157.065463,148.972872,165.158053,8.092590,5.152368
90,7.064948,7.864896,114,98,89.828886,82.720483,96.937290,7.108403,7.913271
94,4.354102,5.843058,16,17,74.517521,59.540669,89.494373,14.976852,20.098431

In [8]:
# Componente: Inserción laboral

# T3. 
# Variable: Acceso a derechos laborales
# Indicador: Ratio M/V en tasa de registro de la relación laboral

def acceso_derechos_laborales(df, tipo='Aglomerado', base='Individual', confidence_level=0.95):
    
    """
    Calcula el acceso a derechos laborales, a partir de la proporción de tasa de registro de la relación laboral entre hombres y mujeres junto con los errores asociados.

    Args:
        df (DataFrame): DataFrame de entrada que contiene los datos de la EPH.
        tipo (str): Tipo de encuesta de la EPH, 'Aglomerado' o 'Urbano'. Por defecto: 'Aglomerado'.
        base (str): Tipo de base de la EPH, 'Individual' o 'Hogar'. Por defecto: 'Individual'.
        confidence_level (float): Nivel de confianza para el cálculo de errores. Por defecto: 0.95.

    Returns:
        tasa (DataFrame): DataFrame con las tasas de registro (M/V) desglosadas por Aglomerado o Provincia. Expresado en % [0-100]
        size (DataFrame): DataFrame con los numeros de observaciones utilizados para calcular tasas de registro (M/V). Expresado en valores absolutos
        ratio (DataFrame): DataFrame con las proporciones de tasas de registro (M/V). Expresado en % [0-100]
        error (DataFrame): DataFrame con los errores asociados a las proporciones. Expresado en % [0-100]. 
                            LI: Limite inferior, LS: Limite superior, ME: Margen de error, ER: Error relativo (CV)


    """
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA_new']):
        raise ValueError("El DataFrame de entrada debe contener las siguientes columnas: 'CH04', 'CH06', 'ESTADO', 'PONDERA_new'")

    if tipo == 'Aglomerado':
        var = 'AGLOMERADO'
    elif tipo == 'Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')

    df_estado = df_temp[(df_temp['ESTADO'] == 1) & (df_temp['CAT_OCUP'] == 3)]          # personas ocupadas asalariadas
    numerador = df_estado[df_estado['PP07H']==1].groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    denominador = df_estado.groupby(['CH04', var])['PONDERA_new'].sum().unstack(level=0)

    tasa = numerador.div(denominador, fill_value=np.nan)
    tasa.columns = ['Varon', 'Mujer']

    size = df_temp[df_temp['ESTADO'] == 2].groupby(['CH04', var]).size().unstack(level=0)
    size.columns = ['N_v', 'N_m']

    p1 = tasa['Mujer']
    p2 = tasa['Varon']
    n1 = size['N_m']
    n2 = size['N_v']
    ratio = (p1 / p2).to_frame()
    ratio.rename(columns={0: 'Acceso a derechos laborales'}, inplace=True)

    # Calculate the standard error of the proportion ratio
    standard_error = np.sqrt(((1 / n1) * (p1 * (1 - p1))) + ((1 / n2) * (p2 * (1 - p2))))

    z = stats.norm.ppf((1 + confidence_level) / 2)
    margin_of_error = z * standard_error
    lower_bound = p1/p2 - margin_of_error
    upper_bound = p1/p2 + margin_of_error

    relative_standard_error = margin_of_error/(p1/p2)
    error = pd.concat([lower_bound, upper_bound, margin_of_error, relative_standard_error], axis=1)
    error.columns = ['LI', 'LS', 'ME', 'ER']

    return tasa*100, size, ratio*100, error*100

In [9]:
tasa, size, ratio, error = acceso_derechos_laborales(df_people_pool, tipo='Urbano', base='Individual', confidence_level=0.95)

empleo_asalariado_con_descuento = pd.concat([tasa, size, ratio, error], axis=1)

empleo_asalariado_con_descuento

,Varon,Mujer,N_v,N_m,Acceso a derechos laborales,LI,LS,ME,ER
PROVINCIA,,,,,,,,,
2,79.665069,76.119022,39,36,95.548805,76.746181,114.351429,18.802624,19.678555
6,64.819435,61.219465,301,342,94.446157,86.978229,101.914085,7.467928,7.907075
10,61.784084,60.456728,55,59,97.851622,79.947232,115.756013,17.904391,18.297490
14,54.908631,50.804343,129,164,92.525240,81.024238,104.026242,11.501002,12.430123
18,55.114564,53.627512,43,27,97.301889,73.326441,121.277338,23.975449,24.640271
22,45.381320,56.913699,44,27,125.412171,101.636297,149.188046,23.775875,18.958188
26,79.404827,71.502111,71,43,90.047562,73.600134,106.494990,16.447428,18.265267
30,65.913125,56.866193,94,96,86.274460,72.491521,100.057399,13.782939,15.975688
34,50.218551,57.363368,50,13,114.227444,83.981953,144.472935,30.245491,26.478305
38,51.384351,48.910622,71,70,95.185831,78.684656,111.687006,16.501175,17.335747
42,67.963363,61.567246,49,42,90.588875,70.913617,110.264134,19.675258,21.719288
46,63.414718,61.758811,50,40,97.388765,77.262677,117.514853,20.126088,20.665719
50,60.071423,53.184341,68,104,88.535178,73.453131,103.617224,15.082047,17.035089
54,61.158800,52.929383,34,38,86.544181,63.735156,109.353206,22.809025,26.355354
58,74.998888,67.248098,55,48,89.665460,72.137485,107.193434,17.527975,19.548190
62,73.403703,76.016576,54,47,103.559593,86.592230,120.526956,16.967363,16.384154
66,50.064378,42.657551,129,99,85.205394,72.191503,98.219286,13.013892,15.273554
70,50.748556,51.631758,40,44,101.740349,80.337788,123.142910,21.402561,21.036453
74,63.220466,54.088637,27,22,85.555581,57.907183,113.203980,27.648398,32.316300
78,83.746603,76.341305,41,25,91.157495,71.031364,111.283626,20.126131,22.078416
82,69.586285,60.663764,140,134,87.177759,75.931413,98.424106,11.246346,12.900477
86,51.366375,45.766110,53,23,89.097409,64.692052,113.502767,24.405357,27.391770
90,55.323470,50.200134,114,98,90.739309,77.275194,104.203424,13.464115,14.838239
94,93.318828,88.231114,16,17,94.548031,74.943615,114.152446,19.604415,20.734874

In [10]:
df_temp = df_people_pool.query('CH06 >= 16 & CH06 < 65')
df_estado = df_temp[(df_temp['ESTADO'] == 1) & (df_temp['CAT_OCUP'] == 3)]          # personas ocupadas asalariadas

# Filtrar y contar las combinaciones por género
resultados = df_estado.groupby(['CH04', 'PP07H', 'PP07I'])['PONDERA_new'].sum().unstack(level='CH04', fill_value=0)

# Renombrar las columnas y restablecer los índices
resultados.columns = ['Varones', 'Mujeres']
resultados = resultados.reset_index()

resultados['Total Fila'] = resultados['Varones'] + resultados['Mujeres']

resultados['Combinación'] = resultados.apply(lambda row: f"PP07H == {row['PP07H']} y PP07I == {row['PP07I']}", axis=1)

resultados.loc['Total Col'] = resultados.sum(numeric_only=True, axis=0)

resultados.loc[:, '% Varones'] = resultados['Varones']/resultados.loc['Total Col', 'Varones'] * 100
resultados.loc[:, '% Mujeres'] = resultados['Mujeres']/resultados.loc['Total Col', 'Mujeres'] * 100

resultados = resultados[['Combinación', 'Varones', '% Varones', 'Mujeres', '% Mujeres', 'Total Fila']]

# Aplicar formato a los valores en la tabla
tabla_pob_ocupada_asalariada = resultados.style.format({
    'Varones': '{:,.0f}',
    '% Varones': '{:,.2f}',
    'Mujeres': '{:,.0f}',
    '% Mujeres': '{:,.2f}',
    'Total Fila': '{:,.0f}'
})

tabla_pob_ocupada_asalariada

In [11]:
# Componente: Inserción laboral

# T4. 
# Variable: Participación en el trabajo remunerado
# Indicador: Ratio M/V en las horas trabajadas remuneradas

def participacion_trabajo_remunerado(df, tipo='Aglomerado', base='Individual', confidence_level=0.95):
    
    """
    Calcula el acceso a derechos laborales, a partir de la proporción en las horas trabajadas remuneradas entre hombres y mujeres junto con los errores asociados.

    Args:
        df (DataFrame): DataFrame de entrada que contiene los datos de la EPH.
        tipo (str): Tipo de encuesta de la EPH, 'Aglomerado' o 'Urbano'. Por defecto: 'Aglomerado'.
        base (str): Tipo de base de la EPH, 'Individual' o 'Hogar'. Por defecto: 'Individual'.
        confidence_level (float): Nivel de confianza para el cálculo de errores. Por defecto: 0.95.

    Returns:
        tasa (DataFrame): DataFrame con las horas trabajadas remuneradas (M/V) desglosadas por Aglomerado o Provincia. Expresado en % [0-100]
        size (DataFrame): DataFrame con los numeros de observaciones utilizados para calcular las horas trabajadas remuneradas (M/V). Expresado en valores absolutos
        ratio (DataFrame): DataFrame con las proporciones de las horas trabajadas remuneradas (M/V). Expresado en % [0-100]
        error (DataFrame): DataFrame con los errores asociados a las proporciones. Expresado en % [0-100]. 
                            LI: Limite inferior, LS: Limite superior, ME: Margen de error, ER: Error relativo (CV)


    """
    if not all(col in df.columns for col in ['CH04', 'CH06', 'ESTADO', 'PONDERA_new']):
        raise ValueError("El DataFrame de entrada debe contener las siguientes columnas: 'CH04', 'CH06', 'ESTADO', 'PONDERA_new'")

    if tipo == 'Aglomerado':
        var = 'AGLOMERADO'
    elif tipo == 'Urbano':
        var = 'PROVINCIA'

    df_temp = df.query('CH06 >= 16 & CH06 < 65')
    df_estado = df_temp[(df_temp['ESTADO'] == 1)]          # personas ocupadas 

    numerador = df_estado[(df_estado['PP3E_TOT']>0) & (df_estado['PP3E_TOT']!=999)].groupby(['CH04', 'PROVINCIA'])['PP3E_TOT'].sum().unstack(level=0)
    denominador = df_estado[(df_estado['PP3E_TOT']>0) & (df_estado['PP3E_TOT']!=999)].groupby(['CH04', 'PROVINCIA'])['PONDERA_new'].sum().unstack(level=0)

    tasa = numerador.div(denominador, fill_value=np.nan)
    tasa.columns = ['Varon', 'Mujer']

    size = df_temp[df_temp['ESTADO'] == 2].groupby(['CH04', var]).size().unstack(level=0)
    size.columns = ['N_v', 'N_m']

    p1 = tasa['Mujer']
    p2 = tasa['Varon']
    n1 = size['N_m']
    n2 = size['N_v']
    ratio = (p1 / p2).to_frame()
    ratio.rename(columns={0: 'Participacion trabajo remunerado'}, inplace=True)

    # Calculate the standard error of the proportion ratio
    standard_error = np.sqrt(((1 / n1) * (p1 * (1 - p1))) + ((1 / n2) * (p2 * (1 - p2))))

    z = stats.norm.ppf((1 + confidence_level) / 2)
    margin_of_error = z * standard_error
    lower_bound = p1/p2 - margin_of_error
    upper_bound = p1/p2 + margin_of_error

    relative_standard_error = margin_of_error/(p1/p2)
    error = pd.concat([lower_bound, upper_bound, margin_of_error, relative_standard_error], axis=1)
    error.columns = ['LI', 'LS', 'ME', 'ER']

    return tasa*100, size, ratio*100, error*100

In [12]:
tasa, size, ratio, error = participacion_trabajo_remunerado(df_people_pool, tipo='Urbano', base='Individual', confidence_level=0.95)

horas_remuneradas = pd.concat([tasa, size, ratio, error], axis=1)

horas_remuneradas

,Varon,Mujer,N_v,N_m,Participacion trabajo remunerado,LI,LS,ME,ER
PROVINCIA,,,,,,,,,
2,3.432555,2.916838,39,36,84.975709,77.046860,92.904558,7.928849,9.330724
6,4.160159,3.458459,301,342,83.132875,80.159870,86.105880,2.973005,3.576209
10,54.764366,43.321178,55,59,79.104683,60.859253,97.350113,18.245430,23.064918
14,9.053359,7.711154,129,164,85.174507,78.756684,91.592329,6.417822,7.534910
18,17.474204,14.617914,43,27,83.654251,66.149809,101.158693,17.504442,20.924749
22,13.978736,12.744291,44,27,91.169122,74.945821,107.392423,16.223301,17.794732
26,36.093737,31.033598,71,43,85.980562,68.204067,103.757056,17.776495,20.675016
30,22.276719,16.630567,94,96,74.654475,63.418928,85.890022,11.235547,15.050065
34,33.362570,29.491209,50,13,88.396095,60.373617,116.418574,28.022479,31.701037
38,33.597525,29.805499,71,70,88.713379,73.366689,104.060068,15.346690,17.299183
42,36.301489,30.421957,49,42,83.803604,64.441734,103.165475,19.361871,23.103864
46,49.733926,40.826740,50,40,82.090322,61.497184,102.683460,20.593138,25.085951
50,13.055435,10.599564,68,104,81.188900,71.232702,91.145097,9.956198,12.263004
54,17.635930,14.916540,34,38,84.580400,67.480204,101.680596,17.100196,20.217682
58,26.489407,21.725613,55,48,82.016229,65.520725,98.511733,16.495504,20.112488
62,30.079304,26.479625,54,47,88.032704,70.461912,105.603497,17.570793,19.959392
66,22.088224,17.796685,129,99,80.570920,70.177972,90.963868,10.392948,12.899131
70,28.169155,20.628642,40,44,73.231314,54.866415,91.596213,18.364899,25.077932
74,43.239691,33.255528,27,22,76.909726,49.766392,104.053060,27.143334,35.292460
78,26.792015,23.388162,41,25,87.295270,65.868715,108.721824,21.426555,24.544920
82,9.939683,8.371801,140,134,84.226030,77.403032,91.049029,6.822998,8.100819
86,29.904656,24.241444,53,23,81.062439,59.646014,102.478864,21.416425,26.419665
90,18.191907,13.749852,114,98,75.582244,65.751881,85.412606,9.830363,13.006180
94,41.840256,39.877989,16,17,95.310098,61.754009,128.866188,33.556090,35.207276

In [13]:
df_temp = df_people_pool.query('CH06 >= 16 & CH06 < 65')
df_estado = df_temp[(df_temp['ESTADO'] == 1)]          # personas ocupadas asalariadas

# Filtrar y contar las combinaciones por género
resultados = df_estado.groupby(['CH04', 'CAT_OCUP', 'PP03C', 'PP03D'])['PONDERA_new'].sum().unstack(level='CH04', fill_value=0)

# Renombrar las columnas y restablecer los índices
resultados.columns = ['Varones', 'Mujeres']
resultados = resultados.reset_index()

resultados['Total Fila'] = resultados['Varones'] + resultados['Mujeres']

resultados['Combinación'] = resultados.apply(lambda row: f"CAT_OCUP == {row['CAT_OCUP']}, PP03C == {row['PP03C']}, PP03D == {row['PP03D']}", axis=1)

resultados.loc['Total Col'] = resultados.sum(numeric_only=True, axis=0)

resultados.loc[:, '% Varones'] = resultados['Varones']/resultados.loc['Total Col', 'Varones'] * 100
resultados.loc[:, '% Mujeres'] = resultados['Mujeres']/resultados.loc['Total Col', 'Mujeres'] * 100

resultados = resultados[['Combinación', 'Varones', '% Varones', 'Mujeres', '% Mujeres', 'Total Fila']]

# Aplicar formato a los valores en la tabla
tabla_pob_ocupada = resultados.style.format({
    'Varones': '{:,.0f}',
    '% Varones': '{:,.2f}',
    'Mujeres': '{:,.0f}',
    '% Mujeres': '{:,.2f}',
    'Total Fila': '{:,.0f}'
})

tabla_pob_ocupada

### Analisis dataframes

In [16]:
# cod_provincia
dict_cod_provincia = {2: "CABA",
 6: "Buenos Aires",
 10: "Catamarca",
 14: "Córdoba",
 18: "Corrientes",
 22: "Chaco",
 26: "Chubut",
 30: "Entre Ríos",
 34: "Formosa",
 38: "Jujuy",
 42: "La Pampa",
 46: "La Rioja",
 50: "Mendoza",
 54: "Misiones",
 58: "Neuquén",
 62: "Río Negro",
 66: "Salta",
 70: "San Juan",
 74: "San Luis",
 78: "Santa Cruz",
 82: "Santa Fe",
 86: "Santiago del Estero",
 90: "Tucumán",
 94: "TdF"}

In [17]:
empleo.index = empleo.index.map(dict_cod_provincia)
desempleo.index = desempleo.index.map(dict_cod_provincia)
empleo_asalariado_con_descuento.index = empleo_asalariado_con_descuento.index.map(dict_cod_provincia)
horas_remuneradas.index = horas_remuneradas.index.map(dict_cod_provincia)

In [25]:
import plotly.graph_objects as go
from plotly.subplots import make_subplots
from plotly.offline import plot


# Create bar traces
bar_trace1 = go.Bar(
    x=empleo.index,
    y=empleo['Actividad productiva'],
    name='T1. Actividad productiva'
)

bar_trace2 = go.Bar(
    x=desempleo.index,
    y=desempleo['Búsqueda de trabajo'],
    name='T2. Búsqueda de trabajo'
)

bar_trace3 = go.Bar(
    x=empleo_asalariado_con_descuento.index,
    y=empleo_asalariado_con_descuento['Acceso a derechos laborales'],
    name='T3. Acceso a derechos laborales'
)

bar_trace4 = go.Bar(
    x=horas_remuneradas.index,
    y=horas_remuneradas['Participacion trabajo remunerado'],
    name='T4. Participacion trabajo remunerado'
)

# Create a layout
layout = go.Layout(
    title='Insercion laboral'
)

# Create a Figure with subplots
fig = make_subplots(rows=2, cols=2, subplot_titles=('T1', 'T2', 'T3', 'T4'))

# Add traces to the subplots

# Add traces to the subplots
fig.add_trace(bar_trace1, row=1, col=1)
fig.add_trace(bar_trace2, row=1, col=2)
fig.add_trace(bar_trace3, row=2, col=1)
fig.add_trace(bar_trace4, row=2, col=2)

fig.update_yaxes(range=[0, 150], row=1, col=1)
fig.update_yaxes(range=[0, 150], row=1, col=2)
fig.update_yaxes(range=[0, 150], row=2, col=1)
fig.update_yaxes(range=[0, 150], row=2, col=2)


# Update the layout for each subplot
fig.update_annotations(
    dict(x=0.5, y=1.15, showarrow=False, text="Plot 1"),
    selector=dict(title="T1")
)

fig.update_annotations(
    dict(x=0.5, y=1.15, showarrow=False, text="Plot 2"),
    selector=dict(title="T2")
)

fig.update_annotations(
    dict(x=0.5, y=1.15, showarrow=False, text="Plot 3"),
    selector=dict(title="T3")
)

fig.update_annotations(
    dict(x=0.5, y=1.15, showarrow=False, text="Plot 4"),
    selector=dict(title="T4")
)

file_path = '/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/figs/'
filename = 'actividad_productiva.html'
fig.update_layout(layout)
plot(fig, filename=file_path + filename, auto_open=False)

'/home/daniufundar/Documents/Fundar/indice-mercado-trabajo-ingresos/figs/actividad_productiva.html'